Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

fix incompatible client-go import
  go.mod
  go.sum
Due: none

add gofmt make target
  Makefile
Due: none

Ensure lint runs correctly
  hack/tools/tools.go
  hack/update/gofmt.sh
  hack/verify/lint.sh
Due: none

Fix lints.
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/deployer.go
  pkg/app/shim/shim.go
  pkg/app/testers/standard/exec/exec.go
  pkg/app/testers/standard/ginkgo/ginkgo.go
  pkg/boskos/boskos.go
  pkg/metadata/junit.go
  pkg/metadata/writer_test.go
  pkg/process/exec.go
Due: pull-kubetest2-build-gke

Update go to 1.15rc1
  hack/go_container.sh
Due: none

Add verify for unit tests
  Makefile
  hack/ci/unit.sh
Due: none

Add a build-all target
  Makefile
Due: none

Default artifacts directory is an absolute path
  pkg/app/cmd.go
Due: none

Move out testers to separate binaries.
  kubetest2-tester-exec/main.go
  kubetest2-tester-ginkgo/main.go
  pkg/app/testers/standard/exec/exec.go
  pkg/app/testers/standard/ginkgo/ginkgo.go
  pkg/app/testers/testers.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/kubectl/kubectl.go
Due: none

Remove references to package testers.
  kubetest2-eks/main.go
  kubetest2-gce/main.go
  kubetest2-gke/main.go
  kubetest2-kind/main.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

Enforced absolute path of artifacts directory for ginkgo tester
  pkg/app/cmd.go
  pkg/app/testers/standard/ginkgo/ginkgo.go
Due: none

Update logic to detect deployers and testers.
  pkg/app/shim/shim.go
  pkg/app/shim/testers.go
Due: none

Remove the tester interface, make it a struct with info about the tester binary.
  pkg/types/types.go
Due: none

Run tester with --help to get usage.
  pkg/app/cmd.go
Due: none

Test() now execs the binary.
  pkg/app/app.go
Due: none

Add make target for testers.
  Makefile
  go.mod
Due: none

Bump the timeout on linter.
  hack/verify/lint.sh
Due: none

Actually pass through the kubeconfig since many deployers depend on it.
  pkg/app/app.go
  pkg/app/shim/shim.go
  pkg/testers/ginkgo/ginkgo.go
Due: none

Add a check for tidy.
  Makefile
  go.mod
  go.sum
  hack/update/tidy.sh
  hack/verify/tidy.sh
  hack/verify/tidy_quiet.sh
Due: none

Fast fail invalid flags.
  pkg/app/cmd.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/ginkgo.go
Due: none

Multi-project, multi-cluster functionality on kubetest-gke deployer
  .gitignore
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

kubetest2 gke retries creating the cluster if it fails for specific reasons
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

Default artifacts is absolute and ginkgo expands KUBECONFIG to abs
  pkg/app/cmd.go
  pkg/testers/ginkgo/ginkgo.go
Due: none

Ginkgo tester automatically acquires the latest test package
  pkg/testers/ginkgo/ginkgo.go
Due: none

Replaced bash to get test package with native go
  pkg/testers/ginkgo/ginkgo.go
Due: none

Remove gosec linter because we need 0700 permission on test package
  hack/verify/lint.sh
Due: none

Don't use ioutil for copying data out of tar
  pkg/testers/ginkgo/ginkgo.go
Due: none

Download release tar to temp dir instead of artifacts
  pkg/testers/ginkgo/ginkgo.go
Due: none

Added flag to ginkgo tester to specify test package version to dl
  pkg/testers/ginkgo/ginkgo.go
Due: none

Removing EKS and bumping dependencies
  go.mod
  go.sum
  kubetest2-eks/main.go
Due: none

Multi-project, multi-cluster functionality on kubetest-gke deployer
  .gitignore
  go.mod
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
  pkg/exec/exec.go
  pkg/exec/local.go
Due: pull-kubetest2-build-gke

Ginkgo tester downloads release tar from configurable bucket
  pkg/testers/ginkgo/ginkgo.go
Due: none

Also print out the usage for the deployer if no args are provided
  pkg/app/cmd.go
Due: none

Run a dummy command to make sure volumes are setup correctly.
  Makefile
Due: none

replace go_container.sh with gimme
  .go-version
  Makefile
  hack/build/setup-go.sh
  hack/ci/unit.sh
  hack/go_container.sh
  hack/third_party/gimme/LICENSE
  hack/third_party/gimme/README.md
  hack/third_party/gimme/gimme
  hack/update/gofmt.sh
  hack/update/tidy.sh
  hack/verify/lint.sh
  hack/verify/tidy.sh
  hack/verify/tidy_quiet.sh
Due: none

add go build flags
  Makefile
Due: none

upgrade to go1.15rc2
  .go-version
Due: none

Automatically generate command help docs
  Makefile
  hack/update/helpdoc_gen.sh
  hack/verify/doc.sh
  hack/verify/doc_quiet.sh
  kubetest2-gce/README.md
  kubetest2-gke/README.md
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/README.md
  kubetest2-tester-exec/README.md
  kubetest2-tester-ginkgo/README.md
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

Add flags to GCE to set cache mutation detector and runtime config
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: pull-kubetest2-build-gce

Added to cache mutation detector description
  kubetest2-gce/deployer/deployer.go
Due: pull-kubetest2-build-gce

Path conditions:
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
