Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

fix firewall rules for multiproject profile
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Implement clusterloader2 tester.
  pkg/testers/clusterloader2/cl2.go
Due: none

Add well known testing configurations as suites.
  pkg/testers/clusterloader2/suite/suite.go
Due: none

Fix gofmt.
  pkg/testers/clusterloader2/cl2.go
Due: none

Return a default kubeconfigpath from kind deployer.
  kubetest2-kind/deployer/deployer.go
Due: pull-kubetest2-build-kind

Add the clusterloader2 shim binary
  kubetest2-tester-clusterloader2/main.go
Due: none

Clarify the kubeconfig override.
  pkg/testers/clusterloader2/cl2.go
Due: none

Move repo-root to top level since it's needed by dumpclusterlogs.
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/build.go
Due: pull-kubetest2-build-gke

Dumpclusterlogs at the end of Up if possible.
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Fix an error in creating private cluster for gke deployer
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

Add --release-channel flag for kubetest2 gke deployer
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Use a unique idenitifer for every kubetest2 run.
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/types/types.go
Due: none

Use the kubetest2 uuid for gke.
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gke

s/uuid/runid
  kubetest2-gke/deployer/build.go
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/types/types.go
Due: pull-kubetest2-build-gke

Initialize up options.
  kubetest2-gke/deployer/options/up.go
Due: pull-kubetest2-build-gke

Move verify methods to corresponding files.
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
Due: pull-kubetest2-build-gke

Auto generate cluster names.
  kubetest2-gke/deployer/up.go
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-build-gke

Add clarifying comment for kt2 prefix.
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Add missed copyright headers to the source files
  kubetest2-gke/deployer/options/build.go
  pkg/build/bazel.go
  pkg/build/make.go
  pkg/build/release_push_build.go
  pkg/build/stage.go
  pkg/testers/clusterloader2/cl2.go
  pkg/testers/clusterloader2/suite/suite.go
  pkg/testers/exec/exec.go
  pkg/testers/ginkgo/package.go
Due: pull-kubetest2-build-gke

Allow specifying the latest version for a release channel
  go.mod
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Use a config file for golang-ci.
  hack/tools/.golangci.yml
Due: none

Check shebang on only first lines
  hack/verify/shellcheck.sh
Due: none

Suppress cd output.
  hack/ci/unit.sh
  hack/update/gofmt.sh
  hack/update/tidy.sh
  hack/verify/lint.sh
  hack/verify/shellcheck.sh
  hack/verify/tidy.sh
  hack/verify/tidy_quiet.sh
  kubetest2-gce/ci-tests/buildupdown.sh
Due: pull-kubetest2-build-gce

Fix boilerplate.
  Makefile
  hack/tools/tools.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up_test.go
Due: pull-kubetest2-build-gke

Add a verify boilerplate.
  Makefile
  hack/verify/boilerplate.py
  hack/verify/boilerplate/boilerplate.Dockerfile.txt
  hack/verify/boilerplate/boilerplate.Makefile.txt
  hack/verify/boilerplate/boilerplate.go.txt
  hack/verify/boilerplate/boilerplate.py.txt
  hack/verify/boilerplate/boilerplate.sh.txt
Due: none

Add helper for using exec.CommandContext
  pkg/process/junitexec.go
Due: none

Add kube-root flag to kind deployer
  kubetest2-kind/deployer/deployer.go
Due: pull-kubetest2-build-kind

normalize gke versions to be valid.
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gke

unit tests for normalizeversion
  kubetest2-gke/deployer/build_test.go
Due: pull-kubetest2-build-gke

add the release as a suffix
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/build_test.go
Due: pull-kubetest2-build-gke

Update GKE version extraction/normalization
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/build_test.go
Due: pull-kubetest2-build-gke

Bump go to 1.15.5
  .go-version
Due: none

Stage sources via k/release API (krel)
  go.mod
  go.sum
  kubetest2-gke/deployer/options/build.go
  pkg/build/make.go
  pkg/build/release_push_build.go
Due: pull-kubetest2-build-gke

Fix --private-cluster-master-ip-range arg for multicluster
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

disable cgo_enabled by default
  Makefile
Due: none

Fix an 'index out of range' error when creating non-private clusters
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

add unit tests
  go.mod
  kubetest2-gke/deployer/network_test.go
Due: pull-kubetest2-build-gke

add the unit test case when --private-cluster-master-ip-rangeis empty
  kubetest2-gke/deployer/network_test.go
Due: pull-kubetest2-build-gke

Bump k/release to v0.6.0
  go.mod
  go.sum
  pkg/build/release_push_build.go
Due: none

upgrade go to 1.15.6
  .go-version
Due: none

Path conditions:
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
