Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

config/jobs/kubernetes-sigs/kubetest2/kubetest2-presubmits.yaml:

presubmits:
  kubernetes-sigs/kubetest2:
  - name: pull-kubetest2-verify-lint
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - lint
        securityContext:
          privileged: true
  - name: pull-kubetest2-verify-shellcheck
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - shellcheck
        securityContext:
          privileged: true
  - name: pull-kubetest2-build
    decorate: true
    always_run: true
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-gce
    decorate: true
    run_if_changed: "kubetest2-gce/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-gce
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-gke
    decorate: true
    run_if_changed: "kubetest2-gke/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-gke
        securityContext:
          privileged: true
  - name: pull-kubetest2-build-kind
    decorate: true
    run_if_changed: "kubetest2-kind/.*"
    labels:
      preset-dind-enabled: "true"
    spec:
      containers:
      - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
        command:
        - wrapper.sh
        args:
        - make
        - install-deployer-kind
        securityContext:
          privileged: true

Added pod security policy and custom network env flags
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
Due: pull-kubetest2-build-gce

Ginkgo tester has flag report-dir set to ARTIFACTS
  pkg/testers/ginkgo/ginkgo.go
Due: none

Fix the logic to verify network configs when boskos is used
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

make boskos resource type configurable and GCP SSH key not required
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

Ginkgo tester acquires ginkgo binary from release tar
  pkg/testers/ginkgo/ginkgo.go
Due: none

Run test setup in the Up command
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

Inherit output for GCE deployer build step commands
  kubetest2-gce/deployer/build.go
Due: pull-kubetest2-build-gce

upgrade to go1.15
  .go-version
Due: none

GCE deployer creates firewall rule allowing nodeport access
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/firewall.go
  kubetest2-gce/deployer/up.go
Due: pull-kubetest2-build-gce

Add hostport firewall rule creation to GCE deployer
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/firewall.go
  kubetest2-gce/deployer/up.go
Due: pull-kubetest2-build-gce

Add RawCommand and RawCommandContext functions
  go.mod
  go.sum
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/deployer.go
  pkg/exec/exec.go
  pkg/exec/local.go
Due: pull-kubetest2-build-gke

Revert "Add hostport firewall rule creation to GCE deployer"
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/firewall.go
  kubetest2-gce/deployer/up.go
Due: pull-kubetest2-build-gce

Fix a few issues for the kubetest2-gke deployer and add chizhg as reviewer
  kubetest2-gke/OWNERS
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

Refactor kubetest2 gke deployer into different source files
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/dumplogs.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Move test package download logic to a separate file. Add a check for existing downloads.
  pkg/testers/ginkgo/package.go
Due: none

Add a flag to pass additional test arguments to e2e.test binary.
  pkg/testers/ginkgo/ginkgo.go
Due: none

Use klog instead of log everywhere.
  kubetest2-gce/deployer/build.go
  kubetest2-gce/deployer/build_test.go
  pkg/build/build.go
Due: pull-kubetest2-build-gce

fix checking GCP SSH key logic
  kubetest2-gke/deployer/commandutils.go
Due: pull-kubetest2-build-gke

Fix typo
  pkg/app/shim/testers.go
Due: none

Basic README for GCE deployer
  kubetest2-gce/README.md
Due: pull-kubetest2-build-gce

Added Implementation section to GCE README
  kubetest2-gce/README.md
Due: pull-kubetest2-build-gce

Added basic Installation and Usage to README
  README.md
Due: none

Some fixes to kubetest2 GKE deployer
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

gke deployer supports creating private cluster
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

bump go to 1.15.1
  .go-version
Due: none

fix PATH with spaces
  Makefile
Due: none

Add an option for overriding the release directory
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
Due: none

Use beta command for shared VPC setting
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

Use beta command group for shared-vpc operations
  kubetest2-gke/deployer/network.go
Due: pull-kubetest2-build-gke

Upgrade to go 1.15.2
  .go-version
Due: none

Refactor build and stage interfaces.
  pkg/build/bazel.go
  pkg/build/build.go
  pkg/build/make.go
  pkg/build/release_push_build.go
  pkg/build/stage.go
Due: none

Add build options.
  go.mod
  kubetest2-gke/deployer/options/build.go
Due: pull-kubetest2-build-gke

Update build logic and expose flags through options.
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Fix lint.
  kubetest2-gke/deployer/options/build.go
Due: pull-kubetest2-build-gke

Get version from hack/print-workspace-status.
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/options/build.go
  pkg/build/bazel.go
  pkg/build/build.go
  pkg/build/make.go
  pkg/build/release_push_build.go
  pkg/build/stage.go
Due: pull-kubetest2-build-gke

Move out version from build options and override when --build is specified.
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/options/build.go
  kubetest2-gke/deployer/up.go
Due: pull-kubetest2-build-gke

Make the version checking less strict.
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

add a length check for projects in down if up fails to lease one for example.
  kubetest2-gke/deployer/down.go
Due: pull-kubetest2-build-gke

Default version latest.
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

Add more reviewers.
  OWNERS
Due: none
