Repository kubernetes-sigs/kubetest2: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

pull-kubetest2-build-gce:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gce
      securityContext:
        privileged: true

pull-kubetest2-build-gke:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-gke
      securityContext:
        privileged: true

pull-kubetest2-build-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/krte:v20200726-f8d6253-master
      command:
      - wrapper.sh
      args:
      - make
      - install-deployer-kind
      securityContext:
        privileged: true

fix macos issue with fstype
  go.mod
  go.sum
Due: none

Use kubectl from path instead of relying on legacy verify-kube-binaries.
  kubetest2-gce/deployer/common.go
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/down.go
  kubetest2-gce/deployer/up.go
Due: pull-kubetest2-build-gce

expose the KUBECTL_PATH to the cluster scripts.
  kubetest2-gce/deployer/common.go
Due: pull-kubetest2-build-gce

use project number instead of id for firewall
  kubetest2-gke/deployer/firewall.go
Due: pull-kubetest2-build-gke

Address PR comments
  kubetest2-gke/deployer/firewall.go
Due: pull-kubetest2-build-gke

Fix kind build type
  kubetest2-kind/deployer/deployer.go
Due: pull-kubetest2-build-kind

Expose the ginkgo test package marker as a flag
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
Due: none

Log the commands before running them for easier debugging
  kubetest2-gke/deployer/up.go
  pkg/exec/local.go
Due: pull-kubetest2-build-gke

Avoid two + characters in GKE build version
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gke

Move out common build functionality.
  kubetest2-gce/deployer/deployer.go
  kubetest2-gce/deployer/options/build.go
  kubetest2-gke/deployer/deployer.go
  pkg/build/options.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

Use common build functionality.
  kubetest2-gce/deployer/build.go
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

fix make build working directory.
  pkg/build/release_push_build.go
Due: none

Simplify make build
  pkg/build/make.go
Due: none

force staging of extra gce configuration files.
  pkg/build/release_push_build.go
Due: none

move out image tagging specifically into the gke deployer.
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/deployer.go
  pkg/build/bazel.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

pickup new changes for staging extra gcp files.
  go.mod
  go.sum
  kubetest2-gce/deployer/build.go
  kubetest2-gce/deployer/options/build.go
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/options/build.go
  pkg/build/options.go
  pkg/build/release_push_build.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

ensure stage is specified with build and up
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/options/build.go
Due: pull-kubetest2-build-gke

Allow setting backup regions and zones when creating GKE clusters
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/commandutils.go
  kubetest2-gke/deployer/common.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-gke/deployer/down.go
  kubetest2-gke/deployer/firewall.go
  kubetest2-gke/deployer/network.go
  kubetest2-gke/deployer/options/build.go
  kubetest2-gke/deployer/options/up.go
  kubetest2-gke/deployer/up.go
  pkg/exec/exec.go
  pkg/exec/local.go
Due: pull-kubetest2-build-gke

set working directory for commands correctly
  pkg/build/bazel.go
  pkg/build/make.go
  pkg/build/release_push_build.go
Due: none

build versions should produce valid docker tags
  kubetest2-gce/deployer/build.go
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

rename rpb to krel
  pkg/build/krel.go
  pkg/build/options.go
Due: none

move out strategy to it's own type
  pkg/build/options.go
Due: none

bump go to 1.15.7
  .go-version
Due: none

don't fail shellcheck if docker is not running
  hack/verify/shellcheck.sh
Due: none

Refactor to simplify tar extraction logic
  pkg/testers/ginkgo/package.go
Due: none

Add --ginkgo-args flag for additional ginkgo arguments
  pkg/testers/ginkgo/ginkgo.go
Due: none

Add testsuite name in the generated junit-runner.xml file
  pkg/app/app.go
  pkg/metadata/junit.go
  pkg/metadata/writer.go
  pkg/metadata/writer_test.go
Due: none

Refactor artifacts logic
  kubetest2-gce/deployer/deployer.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/deployer.go
  pkg/app/app.go
  pkg/app/cmd.go
  pkg/artifacts/paths.go
  pkg/testers/ginkgo/ginkgo.go
  pkg/testers/ginkgo/package.go
  pkg/types/types.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

use default build as make in gke
  kubetest2-gke/deployer/deployer.go
Due: pull-kubetest2-build-gke

util filesystem methods
  pkg/fs/fs.go
Due: none

store commonly used binaries
  pkg/build/build.go
Due: none

store common binaries in gke and gce
  kubetest2-gce/deployer/build.go
  kubetest2-gke/deployer/build.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke

Refactor the kind deployer
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
Due: pull-kubetest2-build-kind

refactor flag handling in kind
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/deployer.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
Due: pull-kubetest2-build-kind

store common binaries in kind deployer
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
Due: pull-kubetest2-build-kind

expose locally built binaries to the ginkgo tester
  pkg/app/app.go
  pkg/build/build.go
  pkg/testers/ginkgo/ginkgo.go
Due: none

expose locally built kubectl to GCE
  kubetest2-gce/deployer/common.go
Due: pull-kubetest2-build-gce

import ordering, better defaulting
  kubetest2-gce/deployer/build.go
  kubetest2-gce/deployer/common.go
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/deployer.go
  kubetest2-kind/deployer/build.go
  kubetest2-kind/deployer/down.go
  kubetest2-kind/deployer/dumplogs.go
  kubetest2-kind/deployer/up.go
  pkg/app/app.go
  pkg/fs/fs.go
  pkg/testers/ginkgo/ginkgo.go
Due: pull-kubetest2-build-gce, pull-kubetest2-build-gke, pull-kubetest2-build-kind

update krel to use repo-root
  go.mod
  go.sum
  pkg/build/krel.go
Due: none

fix action order
  kubetest2-gke/deployer/build.go
  kubetest2-gke/deployer/build/gke_make.go
  pkg/build/options.go
Due: pull-kubetest2-build-gke

Path conditions:
  pull-kubetest2-build-gce: any of: kubetest2-gce/.*
  pull-kubetest2-build-gke: any of: kubetest2-gke/.*
  pull-kubetest2-build-kind: any of: kubetest2-kind/.*
