Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bigquery-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kubekins-e2e:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kettle-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
      - kettle/

post-test-infra-push-triage:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20210204-b06ec78-test-infra
      command:
      - prow/push.sh

run pull-kubernetes-cross when a PR likely impacts cross builds
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

clonerefs: mark cloned repositories safe
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

artifacts presubmit job: use current latest image
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Retriage critical issues after 1 month of innactivity
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 09 Feb 2023 00:02:36 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
Due: post-test-infra-upload-testgrid-config

sub test: refactor for readability
  prow/test/integration/test/sinker_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

codegen.sh: reduce stuttering
  hack/make-rules/update/codegen.sh
Due: pull-test-infra-prow-image-build-test

Revert "Merge pull request #28688 from stevekuznetsov/skuznets/safe-directory"
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Revert "Bumping Prow and Boskos"
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Add associated needs-* labels when removing a label category
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Replace any references to k8s.gcr.io with registry.k8s.io
  config/jobs/image-pushing/README.md
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  config/prow/cluster/kube-state-metrics_deployment.yaml
  experiment/kind-conformance-image-e2e.sh
  experiment/print-job-image-summary.sh
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/phony/examples/review_approve_submitted.json
  prow/test/integration/config/nginx.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-deploy-prow, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Generate CRI-O jobs for serial and prow build
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/generate
Due: none

use absolute path
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

artifacts.k8s.io presubmits: bump kpromo to latest CI
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add jobs for the release-0.4 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.4.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

replaced rest
  config/jobs/image-pushing/README.md
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/phony/examples/review_approve_submitted.json
  prow/test/integration/config/nginx.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Fix CRI-O SSH key injection
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/base/authorized-key.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
Due: none

gangway: add grpc-native healthcheck
  prow/cmd/gangway/main.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

fix bigquery image build
  images/bigquery/Dockerfile
Due: post-test-infra-push-bigquery-canary, post-test-infra-push-bigquery

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 10 Feb 2023 00:01:57 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
Due: post-test-infra-upload-testgrid-config

Enable further CRI-O job generation
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/generate
Due: none

only run verify on master
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump crio for fixed handling of oom with cgroupv2
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/base/crio-install.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/swap/crio_swap1g.ign
Due: none

crio: move swap ign to crio directory
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/swap/image-config-swap-fedora.yaml
Due: none

crio: add swap template to generation script
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/templates/base/swap-1G.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
  jobs/e2e_node/crio/templates/generate
Due: none

Update HNC presubmit to Go 1.20
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

crio: add KUBE_SSH_USER to serial and swap jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

crio: drop passwd.yaml
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/base/passwd.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/generate
Due: none

crio: finish adding core user to swap and serial jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Redhat - Remove the Openshift/redhat-osd dash
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Due: post-test-infra-upload-testgrid-config

Revert back to CAPZ release-1.7 for all Azure jobs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

ci-benchmark-scheduler-perf-master: extend the timeout
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

CRI-O jobs: Make CRI-O systemd unit fail if install fails
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/templates/base/crio-install.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
Due: none

Fix misspelling in config to satisfy lint
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

original
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
Due: none

kubeadm: enable dry-run e2e tests for historical versions
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

[KMSv2] Add presubmit job with kubetest2-kind for kms
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
  config/testgrids/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
