Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

move rerun functionality to rerun.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add rerun with latest config ui
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/style.css
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add alert toast
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/base.html
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

some nit fixes in prometheues help
  ghproxy/ghcache/ghcache.go
  ghproxy/ghproxy.go
  greenhouse/prometheus.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/githubeventserver/metrics.go
  prow/kube/metrics.go
  prow/metrics/http.go
  prow/metrics/http_test.go
  prow/version/metrics.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Parallel processing gerrit instances
  prow/cmd/gerrit/main.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/test/integration/config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-image-build-test, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Thu, 14 Jul 2022 00:02:08 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
Due: post-test-infra-upload-testgrid-config

Switch to `github.com/blang/semver/v4`
  experiment/cluster-upgrader/main.go
  go.mod
  go.sum
  prow/plugins/testfreeze/checker/checker.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Separate request throttling max delay param for APIv4
  ghproxy/ghcache/ghcache.go
  ghproxy/ghproxy.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Updating golang image version to 1.18.4
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-api.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-csi-adapter.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-provisioner-sidecar.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Removing pull-kubernetes-e2e-capz-windows-containerd-test job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add support for tekton v1beta1
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/cmd/pipeline/main.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/clustertask.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/condition.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/doc.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/doc.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_clustertask.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_condition.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_pipeline.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_pipeline_client.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_pipelinerun.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_run.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_task.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/fake/fake_taskrun.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/generated_expansion.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/pipeline.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/pipeline_client.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/pipelinerun.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/run.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/task.go
  prow/pipeline/clientset/versioned/typed/pipeline/v1beta1/taskrun.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/clustertask.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/condition.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/interface.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/pipeline.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/pipelinerun.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/run.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/task.go
  prow/pipeline/informers/externalversions/pipeline/v1beta1/taskrun.go
  prow/pipeline/listers/pipeline/v1beta1/clustertask.go
  prow/pipeline/listers/pipeline/v1beta1/condition.go
  prow/pipeline/listers/pipeline/v1beta1/expansion_generated.go
  prow/pipeline/listers/pipeline/v1beta1/pipeline.go
  prow/pipeline/listers/pipeline/v1beta1/pipelinerun.go
  prow/pipeline/listers/pipeline/v1beta1/run.go
  prow/pipeline/listers/pipeline/v1beta1/task.go
  prow/pipeline/listers/pipeline/v1beta1/taskrun.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Parallelize change processing in gerrit adapter
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/adapter.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add env variables
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

add kubernetes-verify-go-licenses-periodical job
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add v1.24 to cloud-provider-openstack jobs
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.24-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update --job-config-path flag help output
  prow/flagutil/config/config.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

fix: Fix K8s version for Windows 2019 tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Prow service pods metrics scraped by Google Managed Prometheus
  config/prow/cluster/monitoring/prow_podmonitors_for_gmp.yaml
Due: post-test-infra-deploy-prow

jobs/cluster-api: bump kubekins to v20220523-f2a2939508-1.24 for main presubmits
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump amis
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Sync CAPZ owners with Azure provider project
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Due: post-test-infra-upload-testgrid-config

Adding logs to prow's welcome plugin
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

WS2022 capz extension job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Restarts KES while deploying prow
  config/prow/Makefile
Due: none

KES is monitored from default namespace
  config/prow/cluster/monitoring/prow_podmonitors_for_gmp.yaml
Due: post-test-infra-deploy-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 07 Jun 2022 00:02:25 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.12-informing.yaml
Due: post-test-infra-upload-testgrid-config

releng: Update kpromo to v3.4.2-1
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add e2es for kops 1.24
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/testgrids/kubernetes/kops/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add K8s feature gates * MixedProtocolLBService is enabled by default in v1.24 so it is necessary to set it for older versions. * Use kubekins-e2e master * Set KUBERNETES_VERSION to 1.24 for vmss jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

jobs/cluster-api: bump kubekins to v20220523-f2a2939508-1.24 for main periodics
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Use main CAPZ for k8s 1.24+ jobs To solve "cncf-upstream:capi:k8s-1dot24dot1-ubuntu-2004:latest" not found issue.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bump capi mink8s version to 1.20.2
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix version of clusterctl used in CAPZ upgrade jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

add sig-testing email to send alerts for kubernetes-verify-go-licenses-periodical
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Remove old CAPZ v1alpha3 test jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1alpha3.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1alpha3.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add e2e pre-submits for k8s 1.24
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config
