Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip, post-k8sio-groups

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
  post-k8sio-groups: any of: ^groups/groups.yaml

update email address for humblec
  groups/groups.yaml
Due: post-k8sio-groups

build-image: Promote kube-cross:v1.14.4-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

network proxy v0.0.9
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip

rename storage to sig-storage
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/OWNERS
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
  k8s.gcr.io/images/k8s-staging-storage/images.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
Due: pull-k8sio-cip, post-k8sio-groups

add pohly to sig storage group
  groups/groups.yaml
Due: post-k8sio-groups

remove self from owners for now
  k8s.gcr.io/images/k8s-staging-sig-storage/OWNERS
Due: none

Fix prow-build nodepool pool1 initial_count
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Due: none

add pohly to sig-storage reviewers
  k8s.gcr.io/images/k8s-staging-sig-storage/OWNERS
Due: none

Remove references to k8s-staging-release-test
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-staging-storage.sh
Due: none

dns/push.sh refactoring
  dns/Makefile
  dns/lib.sh
  dns/octodns-docker/Dockerfile
  dns/octodns-docker/cloudbuild.yaml
  dns/push.sh
Due: post-k8sio-infra-tools-push-images

dns: Removed docker from push.sh and check-zone.sh
  dns/check-zone.sh
  dns/octodns-config.yaml
  dns/push.sh
Due: none

dns - added bash install to octodns Dockerfile
  dns/octodns-docker/Dockerfile
Due: post-k8sio-infra-tools-push-images

dns: moved out check-zone.py from octodns-docker
  dns/check-zone.py
  dns/octodns-docker/Dockerfile
Due: post-k8sio-infra-tools-push-images

Updated dns Makefile - docker removal from push.sh
  dns/Makefile
Due: none

dns/push.sh - added option to specify logs path
  dns/push.sh
Due: none

dns scripts - moved out config precooking
  dns/Makefile
  dns/lib.sh
  dns/push.sh
Due: none

Configure sigs.k8s.io/ingress-controller-conformance image promoter
  k8s.gcr.io/images/k8s-staging-ingress-controller-conformance/promoter-manifest.yaml
Due: none

CAPZ: add alexeldeib and remove serbrech from reviewers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Due: none

Add v0.0.10 for network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Due: pull-k8sio-cip

k8s.gcr.io: k8s-staging-csi -> k8s-staging-sig-storage
  k8s.gcr.io/images/k8s-staging-csi/OWNERS
  k8s.gcr.io/images/k8s-staging-csi/images.yaml
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
  k8s.gcr.io/manifests/k8s-staging-csi/promoter-manifest.yaml
Due: pull-k8sio-cip

Prmote new version of infra-tools/octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip

Updated version of octodns in dns/Makefile
  dns/Makefile
Due: none

backfill from google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Due: pull-k8sio-cip

Switch slack-infra to community hosted images
  k8s.gcr.io/images/k8s-staging-slack-infra/images.yaml
  slack-infra/resources/slack-event-log/deployment.yaml
  slack-infra/resources/slack-moderator/deployment.yaml
  slack-infra/resources/slack-welcomer/deployment.yaml
Due: pull-k8sio-cip

Add ghproxy resources
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-storage.yaml
Due: none

Drop GKE nodepool for ghproxy
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
Due: none

promote agnhost 2.19
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip

Update OWNERS for k8s.gcr.io/e2e-test-images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/OWNERS
Due: none

Removed apk update/upgrade from octodns docker
  dns/octodns-docker/Dockerfile
Due: post-k8sio-infra-tools-push-images

Added dummy.k8s.io dns record to trigger prow job
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

Promote infra-tools/octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip

Updated octodns version in dns/Makefile
  dns/Makefile
Due: none

capz: Promote image for capz release v0.4.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Due: pull-k8sio-cip

rename storage to sig-storage in manifests
  k8s.gcr.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
Due: pull-k8sio-cip

Promote Cluster API v0.3.7-alpha.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Due: pull-k8sio-cip

Promote etcd 3.4.9-0
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Due: pull-k8sio-cip

build-image: Promote kube-cross:v1.14.4-2 and v1.13.12-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

backfill gcr.io/google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Due: pull-k8sio-cip

promote coredns 1.7.0
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Due: pull-k8sio-cip

promote agnhost 2.20
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Due: pull-k8sio-cip
