Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Crier gerrit reporter: ensure reports all jobs
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Due: post-test-infra-push-prow

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/test/integration/prow/cluster/deck_deployment.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Revert "CAPZ: use 1.23 image with go 1.17 for main and v1beta1 tests"
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Gerrit comment parser: ignore lines containing error messages
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Due: post-test-infra-push-prow

Add fuzz test for parse config
  .clusterfuzzlite/build.sh
  prow/config/BUILD.bazel
  prow/config/config_fuzz.go
Due: post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sun, 09 Jan 2022 00:02:37 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config

Use locked time to avoid any time.time race
  kettle/make_db_test.py
Due: post-test-infra-push-kettle-canary, post-test-infra-push-kettle

Update ingress-nginx e2e-test-runner images
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add new metrics to prow plugins lgtm and approve
  prow/plugins/approve/approve.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/plugins.go
Due: post-test-infra-push-prow

Update TestGrid for kyma
  config/testgrids/kyma/gen-config.yaml
Due: post-test-infra-upload-testgrid-config

Added test case for preparing test environment and getting deployer
  kubetest/main.go
Due: post-test-infra-push-kubekins-e2e

Add capz containerd nightly job for windows
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Hyperv doesn't support hostprocess containers
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-containerd-hyperv.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

CSI Proxy presubmit integration tests
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add alculquicondor to SIG Scheduling OWNERS
  config/jobs/kubernetes/sig-scheduling/OWNERS
Due: post-test-infra-upload-testgrid-config

add sig-scheduling multizone job with kind
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Python: run metrics and releng with make rules
  Makefile.base.mk
  kettle/Makefile
  metrics/Makefile
  metrics/bigquery.py
  metrics/get_jq.sh
  releng/Makefile
  releng/prepare_release_branch.py
  releng/run.sh
Due: post-test-infra-push-kettle-canary, post-test-infra-push-kettle

Crier gerrit reporter: log contains the job to be reported
  prow/crier/reporters/gerrit/reporter.go
Due: post-test-infra-push-prow

Crier gerrit reporter: jobNames returns both name and uuid
  prow/crier/reporters/gerrit/reporter.go
Due: post-test-infra-push-prow

Dump more node info in log-dump.sh
  logexporter/cluster/log-dump.sh
Due: none

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 12 Jan 2022 00:01:44 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config

allow to disable unique basename check for jobconfigs
  prow/cmd/checkconfig/main.go
  prow/config/agent.go
  prow/config/config.go
  prow/flagutil/config/config.go
  releng/config-forker/main.go
  releng/config-rotator/main.go
Due: post-test-infra-push-prow

adjust unit tests
  config/tests/jobs/jobs_test.go
  config/tests/testgrids/config_test.go
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main_test.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/hmac/main_test.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/main_test.go
  prow/cmd/pipeline/main_test.go
  prow/cmd/sinker/main_test.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/tide/main_test.go
  prow/cmd/tot/main_test.go
  prow/config/config_test.go
  prow/config/jobs_test.go
  prow/config/jobtests/job_config_test.go
  testgrid/pkg/configurator/options/options_test.go
Due: post-test-infra-push-prow

Update pull-enhancements-verify image to golang:1.17
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Make windows capz job more frequent
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Remove duplicate key in gateway-api/OWNERS
  config/jobs/kubernetes-sigs/gateway-api/OWNERS
Due: post-test-infra-upload-testgrid-config

Add support to gitClientFactory for CloneURI Remote Resolver
  prow/git/v2/client_factory.go
  prow/git/v2/remote.go
Due: post-test-infra-push-prow

skip pod cidrs test for azure dual-stack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

capz: fix AKS regex so that jobs run appropriately
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1alpha4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Make the GCP Zone and env var in the csi proxy integration config
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix failing job using GH issue lookup
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Set gcp-zone to us-west1-b without an envvar
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config
