Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bigquery-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kubekins-e2e:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kettle-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
      - kettle/

post-test-infra-push-triage:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20210204-b06ec78-test-infra
      command:
      - prow/push.sh

Add release-0.14 presubmits for controller-runtime
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.14.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

releng: Update kpromo to v3.4.11
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

making kubernetes-integration test mandatory
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

chore: add release-1.26 presubmit test for cloud provider azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

use only cgroupv2 images for gke ubuntu
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
  jobs/e2e_node/containerd/image-config-systemd.yaml
Due: none

Update CSI tests to run on k8s 1.26
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-manual-job-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

capz: allow 4 hours for AKS tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

run ingress canary with out of tree cloud provider
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

disable failing tests on IPVS
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

integration tests: add more granular waiting for resources
  prow/test/integration/lib.sh
  prow/test/integration/setup-prow-components.sh
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 16 Dec 2022 00:01:40 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.13-informing.yaml
Due: post-test-infra-upload-testgrid-config

Add CAPZ storage account keys to preset
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Add postsubmit job to build cloud-provider-gcp images
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add postsubmit job to build cloud-provider-gcp images
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Allow go-canary jobs to run on release branches
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add presubmit job for branch release-1.24
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.24.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

sub: move test-only code to test file
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Added (at)bobbypage to the list of reviewers and finished clean up
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Due: post-test-infra-upload-testgrid-config

Retain LGTM through squashes for kubernetes/kubernetes repo (#22663)
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

add gangway.proto and generated stubs
  prow/gangway/gangway.pb.go
  prow/gangway/gangway.proto
  prow/gangway/gangway_grpc.pb.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

use .gitattributes to mark generated code
  .gitattributes
Due: none

gangway: add basic authorization
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/gangway/gangway.go
  prow/test/integration/config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-image-build-test, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

add protoc codegen tooling
  hack/make-rules/update/codegen.sh
  hack/make-rules/verify/codegen.sh
Due: pull-test-infra-prow-image-build-test

formatting from gofmt
  prow/config/config.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

config: use dedicated Gangway field
  prow/cmd/checkconfig/main.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/gangway/gangway.go
  prow/test/integration/config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-image-build-test, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

add gangway demo
  .ko.yaml
  prow/cmd/gangway/main.go
  prow/gangway/gangway.go
  prow/test/integration/config/prow/cluster/gangway.yaml
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/lib.sh
  prow/test/integration/setup-kind-cluster.sh
  prow/test/integration/test/gangway_test.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-image-build-test, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

gangway: do not use empty interfaces for jobstruct
  prow/gangway/gangway.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

gangway: do not reinvent wheel for orgRepo
  prow/gangway/gangway.go
  prow/gangway/gangway_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

getOrgRepo: add unit test
  prow/gangway/gangway.go
  prow/gangway/gangway_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

integration tests: gangway: deployment: add granularity
  prow/test/integration/config/prow/cluster/gangway_deployment.yaml
  prow/test/integration/config/prow/cluster/gangway_rbac.yaml
  prow/test/integration/config/prow/cluster/gangway_service.yaml
  prow/test/integration/lib.sh
Due: pull-test-infra-prow-image-build-test, post-test-infra-deploy-prow, post-test-infra-push-prow

CreateJobExecutionRequest: remove JobDefinition
  prow/gangway/gangway.go
  prow/gangway/gangway.pb.go
  prow/gangway/gangway.proto
  prow/test/integration/test/gangway_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

gangway: use TenantID for authorization
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/gangway/gangway.go
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/config/prow/jobs/periodics.yaml
  prow/test/integration/test/gangway_test.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-image-build-test, post-test-infra-reconcile-hmacs, post-test-infra-push-prow

proto: pin down googleapis version
  hack/make-rules/update/codegen.sh
Due: pull-test-infra-prow-image-build-test

replace GitReferenceDynamic and GitReferenceStatic with prowcrd.Refs
  prow/gangway/gangway.go
  prow/gangway/gangway.pb.go
  prow/gangway/gangway.proto
  prow/test/integration/test/gangway_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

sub refactor in progress, tests passing
  prow/pubsub/subscriber/subscriber.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

make Sub to use CreateJobExecutionRequest
  prow/pubsub/subscriber/subscriber.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

config: add validation for gangway configuration
  prow/config/config.go
  prow/config/gangway.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

retire checkconfig validation for gangway configuration
  prow/cmd/checkconfig/main.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
