Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

kubekins/krte: Add `main` variant
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte

Add Prototype Fake Gerrit server and Gerrit Integration test
  prow/test/integration/fakegerritserver/fakegerritserver.go
  prow/test/integration/prow/.prow-images.yaml
  prow/test/integration/prow/cluster/200_ingress.yaml
  prow/test/integration/prow/cluster/fakegerritserver.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/test/gerrit_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Configure interfaceNamePrefix in experiment/kind-detect-local-e2e.sh
  experiment/kind-detect-local-e2e.sh
Due: none

Add experimental job ci-kubernetes-kind-network-detect-local-interface-name-prefix
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

config/prow: set branch restrictions for 1.24 code freeze
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

Log debug instead of warning when started.json is empty
  prow/cmd/deck/main.go
  prow/spyglass/spyglass.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bump the max size of junit xml(s)
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/boskos-janitor.yaml
  config/prow/cluster/build/boskos-reaper_deployment.yaml
  config/prow/cluster/build/boskos.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

enable ProxyTerminatingEndpoints tests in pull-kubernetes-e2e-gce-alpha-features
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

fix: Remove always run in for the tests that shouldn't run on doc changes
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Use 1 ginko runner for serial/slow jobs
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

chore: Setup periodic test runs for azuredisk driver main_v2
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update Azure Disk Driver V2 test k8s version and test triggers.
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Use capz reposiotry
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

use containerd 1.6.2
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Tue, 29 Mar 2022 00:03:20 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config

Larger timeout for cloud-provider-azure push images cloud-provider-azure now pushes images for: ccm: * linux amd64 arm arm64 cnm: * linux amd64 arm arm64 * windows amd64 2004 1809 20h2 ltsc2022
  config/jobs/image-pushing/k8s-staging-provider-azure.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

pull-kubernetes-e2e-ubuntu-gce-network-policies should skip ProxyTerminatingEndpoints tests
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add retry for InRepoConfig and leave better message to users
  prow/gerrit/adapter/adapter.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

openshift testgrid: remove obsolete jobs
  config/testgrids/openshift/assisted-installer.yaml
Due: post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Add option to change gcloud command
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Revert "Tide: Consider PRs that are being serially retested for batches"
  prow/tide/tide.go
  prow/tide/tide_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Add NodeFeature job with alpha enabled
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Generate the image-pushing jobs of sig-storage
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Make Crier gracefully terminate when interrupted.
  prow/cmd/crier/main.go
  prow/interrupts/interrupts.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Pin containerd job kukekins release versions
  config/jobs/kubernetes/sig-node/containerd.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Build ts-rollup on host platform outside docker
  prow/cmd/deck/gather-static.sh
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Inject SSH key for CRI-O presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv1-k8s-infra-prow-build.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-k8s-infra-prow-build.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

mkpj: turn off label separation instead of relabelling
  config/mkpj.sh
Due: none

yamllint: turn off label separation instead of relabelling
  hack/make-rules/verify/yamllint.sh
Due: pull-test-infra-prow-image-build-test

run-in-python-container: issue on systems with selinux enforcing
  hack/run-in-python-container.sh
Due: none

boilerplate: fix test failure
  hack/boilerplate/boilerplate.py.txt
Due: none

boilerplate: print out how many files were verified
  hack/boilerplate/verify_boilerplate.py
Due: none

boilerplate: resync with repo-infra
  hack/boilerplate/verify_boilerplate.py
Due: none

boilerplate: make some adjustments to work in this repo
  hack/boilerplate/verify_boilerplate.py
Due: none

boilerplate: fix pylint warnings
  hack/boilerplate/verify_boilerplate.py
Due: none
