Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bigquery-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kubekins-e2e:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kettle-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
      - kettle/

post-test-infra-push-triage:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20210204-b06ec78-test-infra
      command:
      - prow/push.sh

Bash scripts permissions checking with make rules
  Makefile
  hack/make-rules/update/file-perms.sh
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/file-perms.sh
Due: none

Bumping k8s-testimages images and k8s-staging-test-infra images and test-infra images
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add Coverage Report and corpus pruning jobs to test-infra fuzz
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Delete file permission check job for test-infra
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix testgrid dashboard names
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/test/integration/prow/cluster/deck_deployment.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Change name of jobs
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Run verify spelling with make rules
  Makefile
  hack/make-rules/update/misspell.sh
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/misspell.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: none

Add e2e for openstack cloud provider keystone test
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/openstack/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Switch Cilium IPv6 jobs to run on Debian 11
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

update kind presubmit jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add jobs for CAPI release-1.0
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fixed num_failures_to_alert for ci-kubernetes-e2e-gce-scale-correctness test
  config/testgrids/config.yaml
Due: post-test-infra-upload-testgrid-config

Run verify labels with make rules
  Makefile
  hack/make-rules/update/labels.sh
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/labels.sh
Due: none

Update CIFUZZ base image
  experiment/ci-fuzz/Dockerfile
Due: none

Change all cifuzz to latest
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  experiment/ci-fuzz/Dockerfile
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Remove branch protection for ed & ms chart publish
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

prow: drop kubernetes-e2e-test-images from testdata
  prow/cmd/phony/examples/review_approve_submitted.json
Due: post-test-infra-push-prow

config/jobs: stop using kubernetes-e2e-test-images
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

apiserver-network-proxy-presubmits: use Go 1.17.
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update Env vars for fuzzing jobs
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

config/jobs: mv bazelbuild, benchmarkjunit pushes off test-infra-trusted
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add tests with Ubuntu 21.10 Impish
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix tests with Ubuntu 21.10 Impish
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Correct a tiny mistake in README.md
  prow/plugins/updateconfig/README.md
Due: post-test-infra-push-prow

cluster-api-provider-openstack: rename default branch to main
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

sig-node: skip DynamicKubeletConfig test under serial lanes
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add Docker image for pytest
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  images/pytest/Dockerfile
  images/pytest/cloudbuild.yaml
  metrics/get_jq.sh
  requirements3.txt
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix typo in yaml
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add exec perms to get_jq.sh
  metrics/get_jq.sh
Due: none

Better error message for verifying bash scripts permission
  hack/make-rules/verify/file-perms.sh
Due: none

Use ioutil.WriteFile for earlier Go version compatibility and update flag docs.
  kubetest/gke.go
Due: post-test-infra-push-kubekins-e2e

Move new requirements to Dockerfile
  images/pytest/Dockerfile
  requirements3.txt
Due: none

Add license agreements
  images/pytest/Dockerfile
  metrics/get_jq.sh
Due: none

Crier gerrit reporter authenticate right after orgs/repos update
  prow/crier/reporters/gerrit/reporter.go
Due: post-test-infra-push-prow

checkconfig: fix disabled validations when GH Apps are checked
  prow/cmd/checkconfig/main.go
  prow/flagutil/strings.go
Due: post-test-infra-push-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
