Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-kettle-canary, post-test-infra-push-kubekins-e2e-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-kettle-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
      - kettle/

post-test-infra-push-kubekins-e2e-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-triage:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210622-762366a
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
  ...

pull-test-infra-gubernator:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/gubernator:v20200824-5d057db
      command:
      - ./gubernator/test-gubernator.sh
      env:
      - name: WORKSPACE
        value: /workspace

pull-test-infra-prow-checkconfig:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210225-6252cf69ff
      command:
      - /checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
  ...

post-test-infra-push-alpine:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20210128-v0.6-11-gf1c6399
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-prow
      - images/alpine/

post-test-infra-push-alpine-bash:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20210128-v0.6-11-gf1c6399
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-testimages
      - --build-dir=.
  ...

post-test-infra-push-git:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20210128-v0.6-11-gf1c6399
      command:
      - images/builder/ci-runner.sh
      args:
      - --scratch-bucket=gs://k8s-testimages-scratch
      - --project=k8s-prow
      - images/git/

post-test-infra-deploy-prow:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/gcloud-bazel:v20210128-v0.6-11-gf1c6399
      command:
      - prow/deploy.sh
      args:
      - --confirm
      - --config=trusted

Fix cherrypicker by explicitly set SA to be empty
  config/prow/cluster/cherrypicker_deployment.yaml
Due: post-test-infra-deploy-prow

Bumping Prow and Boskos
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-prow.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/test/integration/prow/cluster/deck_deployment.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Fix cherrypicker deployment
  config/prow/cluster/cherrypicker_deployment.yaml
Due: post-test-infra-deploy-prow

config/prow: autobump community-hosted kubekins
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: none

kubetest: update README to trigger new kubekins build
  kubetest/README.md
Due: post-test-infra-push-kubekins-e2e-canary, post-test-infra-push-kubekins-e2e

Bumping Prowjob Images and Kubekins
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

wg-k8s-infra: add presubmit for k8s-infra-public-pii
  config/jobs/kubernetes/wg-k8s-infra/k8sio-presubmit.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Fri, 10 Sep 2021 00:02:27 UTC
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-3.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Due: post-test-infra-upload-testgrid-config

Get Deck Integration test working
  prow/test/integration/prow/cluster/200_ingress.yaml
  prow/test/integration/prow/cluster/deck_deployment.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
  prow/test/integration/prow/config.yaml
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/deck_tenant_test.go
  prow/test/integration/test/deck_test.go
Due: post-test-infra-push-prow

Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

run tests against 1.22
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update prow/cmd/crier/README.md
  prow/cmd/crier/README.md
Due: post-test-infra-push-prow

Job-history page: log on debug level instead of warning when directory name is not int64
  prow/cmd/deck/job_history.go
Due: post-test-infra-push-prow

Deck: log debug instead of warning when started.json not exist
  prow/cmd/deck/job_history.go
  prow/cmd/deck/pr_history.go
Due: post-test-infra-push-prow

Sub: log debug instead of error when job is not found
  prow/pubsub/subscriber/subscriber.go
Due: post-test-infra-push-prow

config/jobs: use k8s-infra image for pull-k8sio-backup
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

config/prow/autobump: add more files to job image config
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: none

prow/spyglass: replace kubekins tag in test data
  prow/spyglass/lenses/metadata/lens_test.go
Due: post-test-infra-push-prow

config/jobs: update example kubekins in README
  config/jobs/README.md
Due: post-test-infra-upload-testgrid-config

config/jobs: refresh kubernetes-csi jobs, include in autobump
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/prow/autobump-config/prow-job-autobump-config.yaml
Due: post-test-infra-upload-testgrid-config

releng: replace kubekins tag in test_config
  releng/test_config.yaml
Due: none

Add CRD generation
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/tools.go
  hack/update-codegen.sh
  repos.bzl
Due: post-test-infra-push-prow

Update tektoncd to a version with json tags
  go.mod
  go.sum
  hack/BUILD.bazel
  repos.bzl
Due: post-test-infra-push-prow

Add marker
  prow/apis/prowjobs/v1/types.go
Due: post-test-infra-push-prow

SSA can not default the port?
  config/prow/cluster/tide_service.yaml
Due: post-test-infra-deploy-prow

Update controller-runtime to latest head
  go.mod
  go.sum
  repos.bzl
Due: post-test-infra-push-prow

Broken CRD
  prow/crd.yaml
Due: post-test-infra-push-prow

Remove incorrect third copy of crd
  prow/crd.yaml
Due: post-test-infra-push-prow

Use generated crd in integation tests
  hack/update-codegen.sh
  prow/apis/prowjobs/v1/types.go
  prow/test/integration/prow/cluster/100_starter.yaml
  prow/test/integration/prow/cluster/50_crd.yaml
  prow/test/integration/setup-cluster.sh
Due: post-test-infra-push-prow

Update getting started docs
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/getting_started_deploy.md
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Remove go 1.17 header
  hack/tools.go
Due: none

Protocols for everyone
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/hook_service.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/prow_controller_manager_service.yaml
  prow/test/integration/prow/cluster/fakeghserver.yaml
  prow/test/integration/prow/cluster/sinker.yaml
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Remove stale copyfiles
  hack/update-codegen.sh
Due: none

Re-Add validation that completionTime must be set
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  hack/update-codegen.sh
Due: post-test-infra-deploy-prow

Link the crd instead of duplicating it
  prow/test/integration/prow/cluster/50_crd.yaml
Due: post-test-infra-push-prow

Apply ProwJob crd with --server-side=true
  config/prow/cluster/BUILD.bazel
Due: post-test-infra-deploy-prow

Args is a list
  config/prow/cluster/BUILD.bazel
Due: post-test-infra-deploy-prow

Add announcement and schemaless manifest as fallback
  config/prow/cluster/prowjob_customresourcedefinition_schemaless.yaml
  prow/ANNOUNCEMENTS.md
Due: post-test-infra-deploy-prow, post-test-infra-push-prow

Must specify protocol
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
Due: post-test-infra-push-prow

Path conditions:
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-kubekins-e2e-canary: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
