Repository kubernetes/k8s.io: changes, and which Prow jobs are due for each by the changed paths.
All: post-k8sio-infra-tools-push-images, pull-k8sio-cip, pull-k8sio-backup, post-k8sio-cip

post-k8sio-infra-tools-push-images:
  decorate: true
  spec:
    serviceAccountName: deployer
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20200422-c760048
      command:
      - /run.sh
      args:
      - --project=k8s-staging-infra-tools
      - --scratch-bucket=gs://k8s-staging-infra-tools-gcb
  ...

pull-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: us.gcr.io/k8s-artifacts-prod/artifact-promoter/cip:20200305-v2.3.1-117-gd677a55
      command:
      - cip
      args:
      - -thin-manifest-dir=/home/prow/go/src/github.com/kubernetes/k8s.io/k8s.gcr.io

pull-k8sio-backup:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20200303-2aa51c4-1.17
      command:
      - infra/gcp/backup_tools/backup_test.sh
      env:
      - name: GOPATH
        value: /go
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
  ...

post-k8sio-cip:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cip-demo-staging/cip:20190801-v2.1.2-0-g356c232
      command:
      - multirun.sh
      args:
      - /app/cip-docker-image.binary
      - k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml,/etc/k8s-artifacts-prod-service-account/service-account.json
  ...

Promote infra-tools/octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip

Fixed wrong sha in octodns promotion
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Due: pull-k8sio-cip

Promote cluster-api-provider-aws v0.5.3 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Due: pull-k8sio-cip

add domain cloud-provider-aws.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Due: none

Silly change to trigger an image pushing job
  dns/octodns-docker/cloudbuild.yaml
Due: post-k8sio-infra-tools-push-images

releng: Promote debian-base:v2.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

releng: Configure k8s-staging-kubernetes to promote to 'kubernetes' dir
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubernetes/promoter-manifest.yaml
Due: pull-k8sio-cip

releng: Promote pause:3.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubernetes/promoter-manifest.yaml
Due: pull-k8sio-cip

releng: Temporarily grant markyjackson-taulia access to cut v1.19.0-alpha.3
  groups/groups.yaml
Due: none

Update go.sum
  groups/go.sum
Due: none

releng: Backfill most recent debian-base, debian-iptables, and pause
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Due: pull-k8sio-cip

releng: Promote all arches for debian-base-**:v2.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

releng: remove temporarily access for markyjackson-taulia
  groups/groups.yaml
Due: none

build-image: Promote kube-cross (v1.14.2-2, v1.13.9-3, v1.12.17-2)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

releng: Promote debian-iptables:v12.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

build-image: Promote kube-cross (v1.14.2-3, v1.13.9-4)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Due: pull-k8sio-cip

add image_type to nodepool module
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/variables.tf
Due: none

Support is_prod_cluster in k8s-infra-gke-cluster
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/outputs.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/variables.tf
Due: none

move k8s-infra-gke modules out of cluster dir
  infra/gcp/clusters/README.md
  infra/gcp/clusters/kubernetes-public/prow-build-test/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/README.md
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/outputs.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/variables.tf
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/versions.tf
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/README.md
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/variables.tf
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/versions.tf
Due: none

add k8s resources intended for prow-build
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-resources.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/build-serviceaccounts.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/create-loop-devs_daemonset.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/test-pods-namespace.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/tune-sysctls_daemonset.yaml
Due: none

Initial spike for k8s-infra-prow-build
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-project/README.md
  infra/gcp/clusters/modules/k8s-infra-gke-project/main.tf
  infra/gcp/clusters/modules/k8s-infra-gke-project/outputs.tf
  infra/gcp/clusters/modules/k8s-infra-gke-project/variables.tf
  infra/gcp/clusters/modules/k8s-infra-gke-project/versions.tf
Due: none

switch terraform required version to ~> 0.12.20
  infra/gcp/clusters/modules/k8s-infra-gke-cluster/versions.tf
  infra/gcp/clusters/modules/k8s-infra-gke-nodepool/versions.tf
Due: none

change boskos pool name to k8s-infra-gce-project
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-resources.yaml
Due: none

Add READMEs for prow-build and prow-build-trusted
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/README.md
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/README.md
Due: none

enable stackdriver in prow-build projects
  infra/gcp/clusters/modules/k8s-infra-gke-project/main.tf
Due: none

Migrate prow-build nodepool to ubuntu-containerd
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/main.tf
Due: none

setup a gcb-builder svcacct for prow-build-trusted
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
  infra/gcp/clusters/modules/k8s-infra-gke-project/main.tf
  infra/gcp/lib.sh
Due: none

remove prow-build-test cluster
  infra/gcp/clusters/kubernetes-public/prow-build-test/00-provider.tf
  infra/gcp/clusters/kubernetes-public/prow-build-test/main.tf
  infra/gcp/ensure-e2e-projects.sh
Due: none

create k8s-infra-e2e-projects and add to boskos
  infra/gcp/clusters/k8s-infra-prow-build/prow-build/resources/boskos-resources.yaml
  infra/gcp/ensure-e2e-projects.sh
Due: none

add k8s resources intended for prow-build-trusted
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods-namespace.yaml
Due: none

add k8s-infra-prow-build-trusted
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/ensure-main-project.sh
Due: none

vdf docs: fix broken links
  k8s.gcr.io/Vanity-Domain-Flip.md
Due: none

vdf docs: add backup locations
  k8s.gcr.io/Vanity-Domain-Flip.md
Due: none

vdf docs: remove mention of timestamped backup locations
  k8s.gcr.io/Vanity-Domain-Flip.md
Due: none

audit: remove fingerprint from project-info
  audit/projects/k8s-artifacts-prod-bak/services/compute/project-info.json
  audit/projects/k8s-artifacts-prod/services/compute/project-info.json
  audit/projects/k8s-cip-test-prod/services/compute/project-info.json
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-cri-o/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-huaweicloud/iam.json
  audit/projects/k8s-conform/services/compute/project-info.json
  audit/projects/k8s-gcr-audit-test-prod/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
  audit/projects/k8s-sig-release-prototype/services/compute/project-info.json
  audit/projects/k8s-staging-capi-openstack/services/compute/project-info.json
  audit/projects/k8s-staging-cip-test/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api-aws/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api/services/compute/project-info.json
  audit/projects/k8s-staging-coredns/services/compute/project-info.json
  audit/projects/k8s-staging-csi/services/compute/project-info.json
  audit/projects/k8s-staging-release-test/services/compute/project-info.json
Due: none

audit: add k8s-infra-gcp-auditor svcacct
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/iam.json
Due: none

audit: use gcloud secrets for k8s-gsuite
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/description.json
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/iam.json
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/versions.json
  audit/projects/k8s-gsuite/services/enabled.txt
Due: none

audit: add legacyBucketWriter role to staging gcs
  audit/projects/k8s-release-test-prod/buckets/artifacts.k8s-release-test-prod.appspot.com/iam.json
  audit/projects/k8s-release-test-prod/buckets/k8s-release-test-prod-gcb/iam.json
  audit/projects/k8s-release-test-prod/buckets/k8s-release-test-prod/iam.json
  audit/projects/k8s-staging-apisnoop/buckets/artifacts.k8s-staging-apisnoop.appspot.com/iam.json
  audit/projects/k8s-staging-artifact-promoter/buckets/artifacts.k8s-staging-artifact-promoter.appspot.com/iam.json
  audit/projects/k8s-staging-autoscaling/buckets/artifacts.k8s-staging-autoscaling.appspot.com/iam.json
  audit/projects/k8s-staging-build-image/buckets/artifacts.k8s-staging-build-image.appspot.com/iam.json
  audit/projects/k8s-staging-capi-docker/buckets/artifacts.k8s-staging-capi-docker.appspot.com/iam.json
  audit/projects/k8s-staging-capi-kubeadm/buckets/artifacts.k8s-staging-capi-kubeadm.appspot.com/iam.json
  audit/projects/k8s-staging-capi-openstack/buckets/artifacts.k8s-staging-capi-openstack.appspot.com/iam.json
  audit/projects/k8s-staging-capi-vsphere/buckets/artifacts.k8s-staging-capi-vsphere.appspot.com/iam.json
  audit/projects/k8s-staging-cip-test/buckets/artifacts.k8s-staging-cip-test.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-aws/buckets/artifacts.k8s-staging-cluster-api-aws.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-azure/buckets/artifacts.k8s-staging-cluster-api-azure.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-do/buckets/artifacts.k8s-staging-cluster-api-do.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-gcp/buckets/artifacts.k8s-staging-cluster-api-gcp.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api/buckets/artifacts.k8s-staging-cluster-api.appspot.com/iam.json
  audit/projects/k8s-staging-csi/buckets/artifacts.k8s-staging-csi.appspot.com/iam.json
  audit/projects/k8s-staging-descheduler/buckets/artifacts.k8s-staging-descheduler.appspot.com/iam.json
  audit/projects/k8s-staging-dns/buckets/artifacts.k8s-staging-dns.appspot.com/iam.json
  audit/projects/k8s-staging-e2e-test-images/buckets/artifacts.k8s-staging-e2e-test-images.appspot.com/iam.json
  audit/projects/k8s-staging-external-dns/buckets/artifacts.k8s-staging-external-dns.appspot.com/iam.json
  audit/projects/k8s-staging-kas-network-proxy/buckets/artifacts.k8s-staging-kas-network-proxy.appspot.com/iam.json
  audit/projects/k8s-staging-kubeadm/buckets/artifacts.k8s-staging-kubeadm.appspot.com/iam.json
  audit/projects/k8s-staging-kubernetes/buckets/artifacts.k8s-staging-kubernetes.appspot.com/iam.json
  audit/projects/k8s-staging-metrics-server/buckets/artifacts.k8s-staging-metrics-server.appspot.com/iam.json
  audit/projects/k8s-staging-multitenancy/buckets/artifacts.k8s-staging-multitenancy.appspot.com/iam.json
  audit/projects/k8s-staging-nfd/buckets/artifacts.k8s-staging-nfd.appspot.com/iam.json
  audit/projects/k8s-staging-npd/buckets/artifacts.k8s-staging-npd.appspot.com/iam.json
  audit/projects/k8s-staging-provider-azure/buckets/artifacts.k8s-staging-provider-azure.appspot.com/iam.json
  audit/projects/k8s-staging-publishing-bot/buckets/artifacts.k8s-staging-publishing-bot.appspot.com/iam.json
  audit/projects/k8s-staging-release-test/buckets/artifacts.k8s-staging-release-test.appspot.com/iam.json
  audit/projects/k8s-staging-release-test/buckets/k8s-staging-release-test-gcb/iam.json
  audit/projects/k8s-staging-release-test/buckets/k8s-staging-release-test/iam.json
  audit/projects/k8s-staging-releng/buckets/artifacts.k8s-staging-releng.appspot.com/iam.json
  audit/projects/k8s-staging-scl-image-builder/buckets/artifacts.k8s-staging-scl-image-builder.appspot.com/iam.json
  audit/projects/k8s-staging-service-apis/buckets/artifacts.k8s-staging-service-apis.appspot.com/iam.json
Due: none

audit: add k8s-staging-infra-tools
  audit/projects/k8s-staging-infra-tools/buckets/artifacts.k8s-staging-infra-tools.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-infra-tools/buckets/artifacts.k8s-staging-infra-tools.appspot.com/cors.txt
  audit/projects/k8s-staging-infra-tools/buckets/artifacts.k8s-staging-infra-tools.appspot.com/iam.json
  audit/projects/k8s-staging-infra-tools/buckets/artifacts.k8s-staging-infra-tools.appspot.com/logging.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools-gcb/cors.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools-gcb/iam.json
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools-gcb/logging.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools/bucketpolicyonly.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools/cors.txt
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools/iam.json
  audit/projects/k8s-staging-infra-tools/buckets/k8s-staging-infra-tools/logging.txt
  audit/projects/k8s-staging-infra-tools/description.json
  audit/projects/k8s-staging-infra-tools/iam.json
  audit/projects/k8s-staging-infra-tools/services/enabled.txt
Due: none

Path conditions:
  post-k8sio-infra-tools-push-images: any of: ^dns/octodns-docker/
  pull-k8sio-cip: any of: k8s.gcr.io/((images/.*/images\.yaml)|(manifests/.*/promoter-manifest\.yaml))
  pull-k8sio-backup: any of: ^infra/gcp/backup_tools/
  post-k8sio-cip: any of: k8s.gcr.io/.*/manifest.yaml
