Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

post-test-infra-push-bigquery-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-bootstrap-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-gcloud-in-go-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-image-builder-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-krte-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - ./run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kubekins-e2e:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
  ...

post-test-infra-push-kettle-canary:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
      - --build-dir=.
      - kettle/

post-test-infra-push-triage:
  decorate: true
  spec:
    serviceAccountName: gcb-builder
    containers:
    - image: gcr.io/k8s-testimages/image-builder:v20210910-b5a7cb2
      command:
      - /run.sh
      args:
      - --scratch-bucket=gs://k8s-staging-test-infra-gcb
      - --project=k8s-staging-test-infra
  ...

post-test-infra-push-prow:
  decorate: true
  spec:
    serviceAccountName: pusher
    containers:
    - image: gcr.io/k8s-testimages/bazelbuild:v20210204-b06ec78-test-infra
      command:
      - prow/push.sh

robots: move from io/ioutil to io and os packages
  robots/coverage/downloader/downloader.go
  robots/issue-creator/creator/creator.go
  robots/issue-creator/sources/flakyjob-reporter.go
  robots/issue-creator/testowner/owner_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

testgrid: move from io/ioutil to io and os packages
  testgrid/cmd/transfigure/cmd/transfigure.go
  testgrid/pkg/configurator/configurator/client.go
  testgrid/pkg/configurator/configurator/client_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

triage/summarize: move from io/ioutil to io and os packages
  triage/summarize/files.go
  triage/summarize/summarize_test.go
Due: post-test-infra-push-triage

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

k8s-infra: remove presets for registry.k8s.io
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Disable automatic self-approvals for aws-ebs-csi-driver
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

Update kubekins/krte to Go 1.19.2 and Go 1.18.7
  images/kubekins-e2e/variants.yaml
Due: post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-krte

Update OWNERS files
  prow/cmd/checkconfig/OWNERS
  prow/cmd/config-bootstrapper/OWNERS
  prow/cmd/crier/OWNERS
  prow/cmd/deck/OWNERS
  prow/cmd/generic-autobumper/OWNERS
  prow/cmd/gerrit/OWNERS
  prow/cmd/hook/OWNERS
  prow/cmd/horologium/OWNERS
  prow/cmd/peribolos/OWNERS
  prow/cmd/prow-controller-manager/OWNERS
  prow/cmd/sub/OWNERS
  prow/cmd/tide/OWNERS
  prow/crier/OWNERS
  prow/deck/OWNERS
  prow/gerrit/OWNERS
  prow/hook/OWNERS
  prow/spyglass/OWNERS
  prow/test/integration/OWNERS
  prow/tide/OWNERS
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Only run e2e on master
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

k8s-infra: preset for registry-sandbox.k8s.io
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/canaries.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Tide history page contains correct links for Gerrit
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Update OpenShift testgrid definitions by auto-testgrid-generator job at Sun, 09 Oct 2022 00:01:45 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
Due: post-test-infra-upload-testgrid-config

OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Due: none

Allow release-team-leads to set the lead-opted-in label
  config/prow/plugins.yaml
Due: pull-test-infra-prow-checkconfig

move jobs to k8s-infra
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Renaming to TestHandleGitProviderLink
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Inc golang-tip-k8s-1-23 kubemark timeout to 210m
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Turn on GCP API quotas measurement for all non-Kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Correctly matching repo name for Gerrit repos
  prow/cmd/deck/static/tide-history/tide-history.ts
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Remove unused label - area/dependency
  label_sync/labels.md
  label_sync/labels.yaml
Due: none

cloud-provider-gcp: periodically publish cloud-controller-manager image
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

e2e test for ReadWriteOncePod PV access mode
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

update jobs to use go1.19
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Do GMSA provisioning for capz serial-slow tests run with run-capz-e2e.sh
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update OpenShift testgrid definitions by auto-testgrid-generator job at Wed, 12 Oct 2022 00:02:04 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
Due: post-test-infra-upload-testgrid-config

Bump presubmit containers
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Downgrade golangci-lint to match Go 1.18
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

bump check-tool in crossplane (#478)
  prow/cluster/jobs/IBM/ibm-crossplane-operator/IBM.ibm-crossplane-operator.master.yaml
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

add image-pushing postsubmit for kubernetes/cloud-provider-gcp
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

update openshift testgrids ownwers file
  config/testgrids/openshift/OWNERS
Due: post-test-infra-upload-testgrid-config

run 2 nodes per zone for kind multizone jobs
  experiment/kind-multizone-e2e.sh
Due: none

run multizone twice a day
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

increase allocation for image promotion jobs, tune number of worker goroutines
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

use a current yamllint image
  hack/make-rules/verify/yamllint.sh
Due: pull-test-infra-prow-image-build-test

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$
