Repository kubernetes/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-test-infra-push-bigquery-canary, post-test-infra-push-bootstrap-canary, post-test-infra-push-gcloud-in-go-canary, post-test-infra-push-image-builder-canary, post-test-infra-push-krte-canary, post-test-infra-push-kubekins-e2e, post-test-infra-push-kettle-canary, post-test-infra-push-triage, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-alpine, post-test-infra-push-alpine-bash, post-test-infra-push-git, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-push-prow, post-test-infra-push-kettle, post-test-infra-push-bazel, post-test-infra-push-bazelbuild, post-test-infra-push-bazel-krte, post-test-infra-push-bigquery, post-test-infra-push-bootstrap, post-test-infra-push-cluster-api, post-test-infra-push-gcb-docker-gcloud, post-test-infra-push-gcloud, post-test-infra-push-krte, post-test-infra-push-kubemci, post-test-infra-push-test-gubernator, post-test-infra-push-image-builder, post-test-infra-push-image-benchmarkjunit, post-test-infra-push-gencred, post-test-infra-upload-oncall, post-test-infra-upload-triage, post-test-infra-upload-testgrid-config, post-test-infra-upload-boskos-config, post-test-infra-cip-prow

Path conditions:
  post-test-infra-push-bigquery-canary: any of: ^(images/bigquery|scenarios)/
  post-test-infra-push-bootstrap-canary: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-gcloud-in-go-canary: any of: ^images/gcloud/
  post-test-infra-push-image-builder-canary: any of: ^images/builder/
  post-test-infra-push-krte-canary: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubekins-e2e: any of: ^(images/kubekins-e2e|kubetest|boskos)/
  post-test-infra-push-kettle-canary: any of: ^kettle/
  post-test-infra-push-triage: any of: ^triage/
  pull-test-infra-gubernator: any of: gubernator|config/prow/config.yaml|config/jobs/.+\.yaml
  pull-test-infra-prow-checkconfig: any of: ^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)
  pull-test-infra-prow-image-build-test: any of: ^(\.ko\.yaml|hack/(make-rules|prowimagebuilder)|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-alpine: any of: ^images/alpine/
  post-test-infra-push-alpine-bash: any of: ^images/alpine-bash/
  post-test-infra-push-git: any of: ^images/git/
  post-test-infra-deploy-prow: any of: config/prow/cluster/
  post-test-infra-reconcile-hmacs: any of: config/prow/config.yaml
  post-test-infra-push-prow: any of: ^(WORKSPACE|load.bzl|repos.bzl|containers.bzl|prow|ghproxy|label_sync/.+\.go|robots/commenter|robots/pr-creator|robots/issue-creator|testgrid/cmd|gcsweb)
  post-test-infra-push-kettle: any of: ^kettle/
  post-test-infra-push-bazel: any of: ^images/bazel/
  post-test-infra-push-bazelbuild: any of: ^images/bazelbuild/
  post-test-infra-push-bazel-krte: any of: ^images/bazel-krte/
  post-test-infra-push-bigquery: any of: ^images/bigquery/
  post-test-infra-push-bootstrap: any of: ^(images/bootstrap|scenarios)/
  post-test-infra-push-cluster-api: any of: ^images/cluster-api/
  post-test-infra-push-gcb-docker-gcloud: any of: ^images/gcb-docker-gcloud/
  post-test-infra-push-gcloud: any of: ^images/gcloud/
  post-test-infra-push-krte: any of: ^images/(krte/|kubekins-e2e/variants.yaml)
  post-test-infra-push-kubemci: any of: ^images/kubemci/
  post-test-infra-push-test-gubernator: any of: ^images/pull-test-infra-gubernator/
  post-test-infra-push-image-builder: any of: ^images/builder/
  post-test-infra-push-image-benchmarkjunit: any of: ^pkg/benchmarkjunit/
  post-test-infra-push-gencred: any of: ^gencred/
  post-test-infra-upload-oncall: any of: ^maintenance/oncall.html$
  post-test-infra-upload-triage: any of: ^triage/Makefile$|^triage/[^/]+(\.html|\.js|\.css)$
  post-test-infra-upload-testgrid-config: any of: ^config/(jobs|testgrids)/.*$
  post-test-infra-upload-boskos-config: any of: ^config/prow/cluster/boskos-resources.yaml$
  post-test-infra-cip-prow: any of: ^prow/cip-manifest.yaml$

Stop gating bazel tests on test-infra
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Prowimagebuilder: log duratoin spent on building each individual image
  hack/prowimagebuilder/main.go
Due: pull-test-infra-prow-image-build-test

Pick batches using correct merge method.
  prow/tide/tide.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Roll up faster
  hack/make-rules/update/ts-rollup.sh
  hack/prowimagebuilder/main.go
  hack/rollup-js.sh
  prow/Makefile
  prow/cmd/deck/gather-static.sh
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Bump ami
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Add e2e for pod identity webhook
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

added testcase for respecting pod_unscheduled_timeout
  prow/plank/controller_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

migrate kind jobs to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Improve buildlog regex highlighting
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

Update OpenShift testgrid definitions by auto-testgrid-generator job at Mon, 07 Mar 2022 00:01:21 UTC
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Due: post-test-infra-upload-testgrid-config

Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

move kind jobs to cncf cluster
  config/jobs/kubernetes-sigs/kind/kind.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Cleanup KUBELET_TEST_ARGS in scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Experimentally increase scheduler throughput in 5k performance test
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

kubernetes-csi: move distributed deployment testing to 1.23
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-manual-job-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Remove 1.20 sig-widows jobs
  config/jobs/kubernetes-sigs/sig-windows/README.md
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

testgrids: remove 4.7-e2e-metal-assisted
  config/testgrids/openshift/assisted-installer.yaml
Due: post-test-infra-upload-testgrid-config

Bumping Prow and Boskos
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-deploy-prow, post-test-infra-reconcile-hmacs, post-test-infra-upload-testgrid-config

Prow integration test uses high cpu node
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

More interesting phrases to highlight.
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs

Fix branch ref-name for k8s-sigs/Kueue
  config/jobs/image-pushing/k8s-staging-kueue.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Create Google cloudbuild client package
  go.mod
  prow/BUILD.bazel
  prow/googlecloudbuild/client/BUILD.bazel
  prow/googlecloudbuild/client/client.go
  prow/googlecloudbuild/client/client_test.go
  prow/googlecloudbuild/client/fake/BUILD.bazel
  prow/googlecloudbuild/client/fake/fake.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Delete ci-npd-e2e-test.
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Use master kubekins version for cloud-provider-azure capz tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

move kind jobs to cncf cluster to avoid contention
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Fix spelling typo in comment of get_jq.sh
  metrics/get_jq.sh
Due: none

Update image builder usages to go instead of bazel
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/builder/Makefile
  images/builder/README.md
  images/builder/ci-runner.sh
  images/builder/main.go
Due: post-test-infra-push-image-builder-canary, pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-push-image-builder, post-test-infra-upload-testgrid-config

Replace test-infra build health badge with continuous test job
  README.md
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  prow/cmd/tot/main_test.go
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, pull-test-infra-prow-image-build-test, post-test-infra-push-prow, post-test-infra-upload-testgrid-config

Add back missing parenthess for displaying build badge
  README.md
Due: none

Stop tot unit test from reading prow configs
  prow/cmd/tot/main_test.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Fix a bug for the IsAuthorized function when configuring the rerun auth config with team slugs
  prow/apis/prowjobs/v1/types.go
  prow/github/client.go
Due: pull-test-infra-prow-image-build-test, post-test-infra-push-prow

Caching typescript dependencies
  hack/build/ensure-node_modules.sh
  hack/rollup-js.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Due: none

Flagging presubmit jobs for dockershim based on k8s version
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-upload-testgrid-config

Stop highlighting all --- +++ lines
  config/prow/config.yaml
Due: pull-test-infra-gubernator, pull-test-infra-prow-checkconfig, post-test-infra-reconcile-hmacs
