Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

removed usage of deprecated type CustomResourceDefinitionSpec.Version
  pkg/syncer/storagepool/crd.go
  pkg/syncer/storagepool/service.go
Due: none

Add namespace specific informers for the feature states configmap
  manifests/dev/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u2/vanilla/rbac/vsphere-csi-node-rbac.yaml
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/kubernetes/informers.go
Due: none

Take in Feature state switch info through CLI
  cmd/syncer/main.go
  cmd/vsphere-csi/main.go
  example/vanilla-k8s-block-driver/vsphere.conf
  manifests/latest/vsphere-7.0u1/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/latest/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/utils.go
  pkg/csi/service/service.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/config.go
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-shell

Update images with latest changes
  manifests/latest/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/latest/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
Due: none

Push CI images with latest tag and update dev manifests. Dev manifests will now point to the latest merged onto the main branch.
  hack/release.sh
  manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-node-ds.yaml
Due: pull-vsphere-csi-driver-verify-shell

Set Default cluster flavor as VANILLA for config validation
  pkg/common/config/config_test.go
Due: none

vcp to csi migration first test case and libs
  .gitignore
  tests/e2e/bootstrap.go
  tests/e2e/docs/vanilla_cluster_setup.md
  tests/e2e/e2e_common.go
  tests/e2e/nodemapper.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_utils.go
  tests/e2e/vsphere.go
Due: pull-vsphere-csi-driver-verify-markdown

Test to Check volume life cycle after VCReboot
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vc_reboot_volume_lifecycle.go
Due: none

Replace hostPath with emptyDir for socker-dir in all manifests
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.17/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.18/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.19/deploy/vsphere-csi-controller-deployment.yaml
Due: none

Fix metadatasyncer ReloadConfiguration() to use the same VC instance
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
  pkg/syncer/cnsoperator/controller/cnsvolumemetadata/cnsvolumemetadata_controller.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/storagepool/service.go
  pkg/syncer/types/commontypes.go
Due: none

test pipelineHealth
  emptyFile
Due: none

Add more metadata to PVC
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/types.go
  pkg/syncer/volume_health.go
Due: none

fix NotAuthenticated issue
  pkg/common/cns-lib/vsphere/virtualcenter.go
Due: none

addressed review comments
  pkg/common/cns-lib/vsphere/virtualcenter.go
Due: none

Add step to configure DNS server in file volumes documentation
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Fix for create imagepull error in create POD
  tests/e2e/binding_modes_with_topology.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/e2e_common.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/gc_full_sync.go
  tests/e2e/gc_metadata_syncer.go
  tests/e2e/labelupdates.go
  tests/e2e/operationstorm.go
  tests/e2e/partial_topology_values.go
  tests/e2e/provision_with_multiple_zones.go
  tests/e2e/storagepolicy.go
  tests/e2e/testing-manifests/statefulset/nginx/statefulset.yaml
  tests/e2e/util.go
  tests/e2e/vc_reboot_volume_lifecycle.go
  tests/e2e/volume_provisioning_with_topology.go
  tests/e2e/vsphere_file_volume_basic_mount.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fstype.go
  tests/e2e/vsphere_volume_mount.go
Due: none

Reboot TC for Vanilla
  tests/e2e/vc_reboot_volume_lifecycle.go
Due: none

remove temporary fix for detach and delete race
  go.mod
  go.sum
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: none

Support NoMigration mode for vSAN direct disk decommission
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/storagepool/diskDecommissionController.go
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/util.go
Due: none

Add valid vsphere volume check for update pod metadata
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Added doc to clarify that vSphere CSI and CNS does not currently support SDRS.
  docs/book/supported_features_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Assign full permissions for file volumes created in WCP
  pkg/common/config/config.go
Due: none

vcp to csi migration create and delete test cases
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
Due: none

Path conditions:
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
