Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

fixed shellcheck failures
  go.mod
  go.sum
  hack/check-lint.sh
  hack/check-vet.sh
  hack/run-e2e-test.sh
  hack/verify-golint.sh
Due: pull-vsphere-csi-driver-verify-shell

Fix test issue in metadatasyncer test for file volume.
  tests/e2e/medadatasyncer_test_for_file_volume.go
Due: none

ignore default fstype ext4 supplied for file volume
  example/vanilla-k8s-file-driver/example-sc.yaml
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util.go
Due: none

Handle case where full sync may incorrectly delete volumes.
  pkg/syncer/fullsync.go
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/types.go
  pkg/syncer/util.go
Due: none

fixed markdown linter check failures
  tests/e2e/docs/guest_cluster_setup.md
  tests/e2e/docs/multimaster_cluster_setup.md
  tests/e2e/docs/supervisor_cluster_setup.md
  tests/e2e/docs/topology_aware_vanilla_setup.md
  tests/e2e/docs/vanilla_cluster_setup.md
Due: pull-vsphere-csi-driver-verify-markdown

using new base image for driver
  images/driver/Dockerfile
Due: none

renamed example yamls
  example/vanilla-k8s-block-driver/ vsphere.conf
  example/vanilla-k8s-block-driver/example-pod.yaml
  example/vanilla-k8s-block-driver/example-sc-multiple-zones-regions.yaml
  example/vanilla-k8s-block-driver/example-sc-multiple-zones.yaml
  example/vanilla-k8s-block-driver/example-sc-volume-expansion.yaml
Due: none

Update README.md
  README.md
Due: pull-vsphere-csi-driver-verify-markdown

vSphere CSI driver documentation structure
  docs/README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/development.md
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
  docs/book/features/block_volume.md
  docs/book/features/file_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_topology.md
  docs/book/glossary.md
  docs/book/known_issues.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/supported_features_matrix.md
  docs/book/testing.md
  docs/book/troubleshooting.md
  docs/book/upgrade_support_matrix.md
  docs/deploying_ccm_and_csi_with_multi_dc_vc_aka_zones.md
  docs/deploying_csi_vsphere_with_rbac.md
  docs/images/clusterbased.png
  docs/images/datacenterbased.png
  docs/images/pitfalls.png
  docs/images/vmware_logo.png
  docs/images/whichdatastore.png
  go.mod
  go.sum
  hack/build-gitbooks.sh
  netlify.toml
Due: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

Upgrade Support Matrix
  docs/book/upgrade_support_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

adding images for roles-and-privileges
  docs/images/CNS-DATASTORE-USAGE.png
  docs/images/CNS-SEARCH-AND-SPBM-USAGE.png
  docs/images/CNS-VM-USAGE.png
  docs/images/HOST-CONFIG-STORAGE-USAGE.png
  docs/images/READ-ONLY-USAGE.png
  docs/images/ROLE-CNS-DATASTORE.png
  docs/images/ROLE-CNS-HOST-CONFIG-STORAGE.png
  docs/images/ROLE-CNS-SEARCH-AND-SPBM.png
  docs/images/ROLE-CNS-VM.png
Due: none

vsphere CSI driver prerequisites
  docs/book/driver-deployment/prerequisites.md
Due: pull-vsphere-csi-driver-verify-markdown

Volume Topology
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/features/volume_topology.md
  docs/images/REGION_AND_ZONES.png
Due: pull-vsphere-csi-driver-verify-markdown

fixed make test-e2e
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

Add to OWNERS file
  OWNERS
Due: none

Add doc for volume expansion
  docs/book/features/volume_expansion.md
Due: pull-vsphere-csi-driver-verify-markdown

fix returning error after logging them
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/metadatasyncer.go
Due: none

re-arranged content for volume topology feature
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/features/volume_topology.md
Due: pull-vsphere-csi-driver-verify-markdown

Added CNS introduction documentation.
  docs/book/README.md
  docs/images/CNS-Architecture.png
Due: pull-vsphere-csi-driver-verify-markdown

fixing param supply for GINKGO_OPTS
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

vSphere CSI driver development section in release document.
  docs/book/SUMMARY.md
  docs/book/development.md
  docs/book/testing.md
Due: pull-vsphere-csi-driver-verify-markdown

Fixed the link to the CNS architecture image.
  docs/book/README.md
Due: pull-vsphere-csi-driver-verify-markdown

removed mounting vsphere csi conf secret in vsphere-csi-node daemonset
  manifests/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  pkg/common/config/config.go
  pkg/csi/service/node.go
Due: none

Path conditions:
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
