Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml:

presubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Runs "gofmt", "go vet", and "golint" on the sources.
  - name: pull-vsphere-csi-driver-check
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "check"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Runs 'shellcheck' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-shell
    always_run: false
    run_if_changed: '.*\.\w*sh$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
        command:
        - /bin/shellcheck.sh
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-shell
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the shell scripts have been linted

  # Runs 'mdlint' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-markdown
    always_run: false
    run_if_changed: '.*\.md$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
        command:
        - /nodejs/bin/node
        args:
        - /md/lint
        - .
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-markdown
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the markdown has been linted

  # Builds the CSI binary
  - name: pull-vsphere-csi-driver-build
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "build"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Executes the unit tests.
  - name: pull-vsphere-csi-driver-unit-test
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "unit-test"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

postsubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Deploys the CSI image
  - name: post-vsphere-csi-driver-deploy
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-cloud-provider-vsphere-e2e-config: "true"
    max_concurrency: 1
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "deploy"
        securityContext:
          privileged: true
    annotations:
      testgrid-dashboards: vmware-postsubmits-vsphere-csi-driver
      testgrid-num-columns-recent: '20'
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

Set Storage Policy ID while registering volume
  pkg/apis/migration/migration.go
  pkg/common/cns-lib/vsphere/datacenter.go
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Make fss configmap configurable
  example/vanilla-k8s-block-driver/vsphere.conf
  manifests/latest/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/metadatasyncer.go
Due: none

Update rbac and deployment yamls
  manifests/latest/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/latest/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: none

disable volume expansion for migrated volumes
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: none

Check provisioner annotation for pvc/pv provisioned using in tree storage class
  pkg/csi/service/common/constants.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
  pkg/syncer/util_test.go
Due: none

refactor vanilla controller operations workflows
  pkg/csi/service/vanilla/controller.go
Due: none

vSphere CSI driver is not supported on Windows vCenter
  docs/book/compatiblity_matrix.md
  docs/book/supported_features_matrix.md
  docs/book/upgrade_support_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Added doc to clarify the max allowed characters for cluster-id property in vsphere configuration file.
  docs/book/driver-deployment/installation.md
Due: pull-vsphere-csi-driver-verify-markdown

Fix argument order to CreateCustomerResourceDefinition call
  pkg/syncer/cnsoperator/manager/init.go
Due: none

fix vsphere.conf doc regarding datacenter
  docs/book/driver-deployment/installation.md
  example/vanilla-k8s-block-driver/vsphere.conf
Due: pull-vsphere-csi-driver-verify-markdown

Tidy go.mod file
  go.mod
  go.sum
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Due: none

static fileshare volume provisioning without fstype
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Use correct format for logging
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/storageclasswatch.go
Due: none

Update pod metadata in full sync only when pod status is running
  pkg/syncer/fullsync.go
Due: none

Remove device check as it's not needed
  pkg/csi/service/node.go
Due: none

Set feature state once before full sync operations
  cmd/syncer/main.go
  pkg/syncer/fullsync.go
Due: none

upgrade sidecar containers
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
Due: none

fail creating volume using unsupported VCP parameters
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/syncer/util.go
Due: none

Have automatic restart of property collector listener
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/listener.go
  pkg/syncer/storagepool/service.go
Due: none

Make corrections in log messages
  pkg/apis/migration/migration.go
  pkg/common/config/config.go
  pkg/csi/service/common/vsphereutil.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Due: none

fail creating file volume using VCP storageclass
  pkg/csi/service/vanilla/controller.go
Due: none

validating admission webhook for storageclass
  cmd/syncer/main.go
  manifests/latest/vsphere-7.0u1/vanilla/deploy/create-validation-webhook.sh
  manifests/latest/vsphere-7.0u1/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/latest/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  pkg/common/config/config.go
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/config.go
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Due: pull-vsphere-csi-driver-verify-shell

Initialize CnsRegisterVolume CRD in CNS Operator init. Added back function to create CRD from manifest and some refactoring.
  pkg/apis/migration/migration.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
Due: none

Refactored code
  pkg/kubernetes/kubernetes.go
Due: none

Update arguments for external resizer v1.0.0 in pvcsi manifests
  manifests/latest/vsphere-7.0u1/guestcluster/1.16/pvcsi.yaml
  manifests/latest/vsphere-7.0u1/guestcluster/1.17/pvcsi.yaml
Due: none

Add more metadata to PVC
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/types.go
  pkg/syncer/volume_health.go
Due: none

fixed time format
  pkg/syncer/volume_health.go
Due: none

Resolve comments
  docs/book/features/block_volume.md
  example/tkg-k8s-block-driver/example-static-block-provisioning.yaml
  example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

Remove file volume changes
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Update pod metadata for inline migrated volumes
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none
