Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml:

presubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Runs "gofmt", "go vet", and "golint" on the sources.
  - name: pull-vsphere-csi-driver-check
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "check"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Runs 'shellcheck' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-shell
    always_run: false
    run_if_changed: '.*\.\w*sh$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
        command:
        - /bin/shellcheck.sh
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-shell
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the shell scripts have been linted

  # Runs 'mdlint' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-markdown
    always_run: false
    run_if_changed: '.*\.md$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
        command:
        - /nodejs/bin/node
        args:
        - /md/lint
        - .
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-markdown
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the markdown has been linted

  # Builds the CSI binary
  - name: pull-vsphere-csi-driver-build
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "build"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Executes the unit tests.
  - name: pull-vsphere-csi-driver-unit-test
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "unit-test"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

postsubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Deploys the CSI image
  - name: post-vsphere-csi-driver-deploy
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-cloud-provider-vsphere-e2e-config: "true"
    max_concurrency: 1
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "deploy"
        securityContext:
          privileged: true
    annotations:
      testgrid-dashboards: vmware-postsubmits-vsphere-csi-driver
      testgrid-num-columns-recent: '20'
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

Fixed – unused value of variables, unused variables and unused functions
  pkg/common/cns-lib/node/manager.go
  pkg/common/config/config.go
  pkg/csi/service/vanilla/nodes.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/pvcsi_metadatasyncer.go
  pkg/syncer/syncer_test.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Due: none

Add a watcher from GC CreatePVC call to SC instead of Polling
  pkg/csi/service/wcpguest/controller_helper.go
Due: none

Update GoCSI to v1.2.1
  go.mod
  go.sum
Due: none

setting updateStrategy to RollingUpdate for vsphere-csi-controller deployment
  manifests/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
Due: none

fixed shellcheck failures
  go.mod
  go.sum
  hack/check-lint.sh
  hack/check-vet.sh
  hack/run-e2e-test.sh
  hack/verify-golint.sh
Due: pull-vsphere-csi-driver-verify-shell

Shift NetPermissions to vSphere Config from Storage Class params
  example/vanilla-k8s-file-driver/csi-vsphere.conf
  example/vanilla-k8s-file-driver/example-sc.yaml
  pkg/common/config/config.go
  pkg/common/config/config_test.go
  pkg/common/config/types.go
  pkg/csi/service/common/types.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
Due: none

using new base image for driver
  images/driver/Dockerfile
Due: none

should omit comparison to bool constant
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pvcsi_metadatasyncer.go
  tests/e2e/vsphere_volume_expansion.go
Due: none

Replace k8sclient with listers in full sync
  pkg/kubernetes/informers.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/types.go
  pkg/syncer/util.go
Due: none

Rename csi-vsphere.conf file to avoid E2E failures
  example/vanilla-k8s-file-driver/example-csi-vsphere.conf
  example/vanilla-k8s-file-driver/example-sc.yaml
Due: none

using queryvolume pagination for full sync
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/syncer/fullsync.go
  pkg/syncer/types.go
  pkg/syncer/util.go
  tests/e2e/vsphere_file_volume_storagepolicy.go
Due: none

Updating CSI deployment YAML for GC
  manifests/guestcluster/1.15/pvcsi.yaml
  manifests/guestcluster/1.16/pvcsi.yaml
Due: none

adding images for roles-and-privileges
  docs/images/CNS-DATASTORE-USAGE.png
  docs/images/CNS-SEARCH-AND-SPBM-USAGE.png
  docs/images/CNS-VM-USAGE.png
  docs/images/HOST-CONFIG-STORAGE-USAGE.png
  docs/images/READ-ONLY-USAGE.png
  docs/images/ROLE-CNS-DATASTORE.png
  docs/images/ROLE-CNS-HOST-CONFIG-STORAGE.png
  docs/images/ROLE-CNS-SEARCH-AND-SPBM.png
  docs/images/ROLE-CNS-VM.png
Due: none

ignore default fstype ext4 supplied for file volume
  example/vanilla-k8s-file-driver/example-sc.yaml
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/pvcsi_fullsync.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util.go
Due: none

fixed integration-unit-test
  Makefile
  go.mod
  go.sum
  pkg/syncer/syncer_test.go
Due: none

Volume Topology
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/features/volume_topology.md
  docs/images/REGION_AND_ZONES.png
Due: pull-vsphere-csi-driver-verify-markdown

Fix crash in controller cause by informer sync
  pkg/kubernetes/informers.go
Due: none

Fix test issue in metadatasyncer test for file volume.
  tests/e2e/medadatasyncer_test_for_file_volume.go
Due: none

Adding throughput parameters to supervisor client in guest cluster
  manifests/vsphere-7.0/guestcluster/1.15/pvcsi.yaml
  manifests/vsphere-7.0/guestcluster/1.16/pvcsi.yaml
  pkg/csi/types/envvars.go
  pkg/kubernetes/kubernetes.go
  pkg/kubernetes/types.go
Due: none

fixing ReloadConfiguration for staticcheck verification
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Due: none

fixing deployment yamls
  cmd/vsphere-csi/main.go
  manifests/guestcluster/1.15/pvcsi.yaml
  manifests/guestcluster/1.16/pvcsi.yaml
  manifests/supervisorcluster/1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vanilla/1.14/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vanilla/1.14/deploy/vsphere-csi-node-ds.yaml
  manifests/vanilla/1.16/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vanilla/1.16/deploy/vsphere-csi-node-ds.yaml
  pkg/common/config/config.go
  pkg/csi/service/common/util.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller_test.go
  pkg/syncer/syncer_test.go
Due: none

Update script to wait for merge request approval
  hack/run-spec-bump.sh
Due: pull-vsphere-csi-driver-verify-shell

fixed markdown linter check failures
  tests/e2e/docs/guest_cluster_setup.md
  tests/e2e/docs/multimaster_cluster_setup.md
  tests/e2e/docs/supervisor_cluster_setup.md
  tests/e2e/docs/topology_aware_vanilla_setup.md
  tests/e2e/docs/vanilla_cluster_setup.md
Due: pull-vsphere-csi-driver-verify-markdown

fixed check-vet failures
  hack/check-vet.sh
  pkg/common/cns-lib/volume/manager.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/wcp/controller_test.go
  pkg/syncer/metadatasyncer.go
Due: pull-vsphere-csi-driver-verify-shell

Remove commented git push
  hack/run-spec-bump.sh
Due: pull-vsphere-csi-driver-verify-shell

Sync informers on startup
  go.mod
  pkg/kubernetes/informers.go
  pkg/kubernetes/types.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/syncer_test.go
Due: none

Fix bug in spec bump script
  hack/run-spec-bump.sh
Due: pull-vsphere-csi-driver-verify-shell

Removed - unnecessary use of fmt.Sprintf (S1039)
  go.mod
  go.sum
  pkg/common/cns-lib/vsphere/datacenter.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/nodes.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/pvcsi_metadatasyncer.go
  tests/e2e/binding_modes_with_topology.go
  tests/e2e/config_change_test.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/fullsync_test_for_file_volume.go
  tests/e2e/labelupdates.go
  tests/e2e/medadatasyncer_test_for_file_volume.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/partial_topology_values.go
  tests/e2e/provision_with_multiple_zones.go
  tests/e2e/statefulsets.go
  tests/e2e/storagepolicy.go
  tests/e2e/svmotion_detached_volume.go
  tests/e2e/topology_aware_node_poweroff.go
  tests/e2e/util.go
  tests/e2e/volume_provisioning_with_topology.go
  tests/e2e/vsphere_file_volume_basic.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fstype.go
Due: none

changing maintainers of driver docker images
  images/ci/Dockerfile
  images/driver/Dockerfile
Due: none

Add to OWNERS file
  OWNERS
Due: none

re-arrange deployment manifest by vsphere releases
  manifests/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/vsphere-67u3/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/vsphere-7.0/guestcluster/1.15/pvcsi.yaml
  manifests/vsphere-7.0/guestcluster/1.16/pvcsi.yaml
  manifests/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vsphere-7.0/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/vsphere-7.0/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: none

fixed make test-e2e
  hack/run-e2e-test.sh
Due: pull-vsphere-csi-driver-verify-shell

vsphere CSI driver prerequisites
  docs/book/driver-deployment/prerequisites.md
Due: pull-vsphere-csi-driver-verify-markdown

vSphere CSI driver development section in release document.
  docs/book/SUMMARY.md
  docs/book/development.md
  docs/book/testing.md
Due: pull-vsphere-csi-driver-verify-markdown

removed mounting vsphere csi conf secret in vsphere-csi-node daemonset
  manifests/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  pkg/common/config/config.go
  pkg/csi/service/node.go
Due: none

Add --version flag and fix dockerfile ldflags
  Makefile
  cmd/vsphere-csi/main.go
  docs/book/development.md
  images/driver/Dockerfile
  pkg/csi/service/identity.go
Due: pull-vsphere-csi-driver-verify-markdown

Update deployment guide with new manifest path
  docs/book/driver-deployment/installation.md
Due: pull-vsphere-csi-driver-verify-markdown

Adding the documentation for Block Volume
  docs/book/features/block_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Documentation for installation of vSphere CSI Driver
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
Due: pull-vsphere-csi-driver-verify-markdown
