Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

pull-vsphere-csi-driver-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-vsphere-csi-driver-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - .

Add volume expansion documentation for 7.0U1 + some more improvements
  docs/book/README.md
  docs/book/features/block_volume.md
  docs/book/features/file_volume.md
  docs/book/features/volume_expansion.md
  docs/book/supported_features_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Fix faulty terminology
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Linter check
  docs/book/features/volume_expansion.md
Due: pull-vsphere-csi-driver-verify-markdown

Resolve comments
  docs/book/README.md
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

skipping metadata updates if migration annoation is not not set on PVC or PV
  pkg/syncer/metadatasyncer.go
Due: none

Set Storage Policy ID while registering volume
  pkg/apis/migration/migration.go
  pkg/common/cns-lib/vsphere/datacenter.go
  pkg/common/cns-lib/vsphere/pbm.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Make fss configmap configurable
  example/vanilla-k8s-block-driver/vsphere.conf
  manifests/latest/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/metadatasyncer.go
Due: none

Resolve comments
  docs/book/features/block_volume.md
  docs/book/features/volume_expansion.md
  example/tkg-k8s-block-driver/example-static-block-provisioning.yaml
  example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

resolve linter issues
  docs/book/features/block_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Update rbac and deployment yamls
  manifests/latest/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/latest/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/latest/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: none

disable volume expansion for migrated volumes
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Due: none

Check provisioner annotation for pvc/pv provisioned using in tree storage class
  pkg/csi/service/common/constants.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
  pkg/syncer/util_test.go
Due: none

refactor vanilla controller operations workflows
  pkg/csi/service/vanilla/controller.go
Due: none

vSphere CSI driver is not supported on Windows vCenter
  docs/book/compatiblity_matrix.md
  docs/book/supported_features_matrix.md
  docs/book/upgrade_support_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Consider storage class annotation while fetching storage class name from PVC
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
  pkg/syncer/k8scloudoperator/placement.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util.go
  pkg/syncer/util_test.go
Due: none

Add StoragePool watcher to syncer
  pkg/syncer/storagepool/intended_state.go
  pkg/syncer/storagepool/listener.go
  pkg/syncer/storagepool/service.go
  pkg/syncer/storagepool/storagepoolwatch.go
Due: none

Added doc to clarify the max allowed characters for cluster-id property in vsphere configuration file.
  docs/book/driver-deployment/installation.md
Due: pull-vsphere-csi-driver-verify-markdown

test-pr-kindly ignore
  test-pipelines.txt
Due: none

Fix argument order to CreateCustomerResourceDefinition call
  pkg/syncer/cnsoperator/manager/init.go
Due: none

fix vsphere.conf doc regarding datacenter
  docs/book/driver-deployment/installation.md
  example/vanilla-k8s-block-driver/vsphere.conf
Due: pull-vsphere-csi-driver-verify-markdown

dummy_file
  dummy_file
Due: none

Update check-golangci-lint.sh
  hack/check-golangci-lint.sh
Due: pull-vsphere-csi-driver-verify-shell

Path conditions:
  pull-vsphere-csi-driver-verify-shell: any of: .*\.\w*sh$
  pull-vsphere-csi-driver-verify-markdown: any of: .*\.md$
