Repository kubernetes-sigs/vsphere-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-vsphere-csi-driver-verify-shell, pull-vsphere-csi-driver-verify-markdown

config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml:

presubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Runs "gofmt", "go vet", and "golint" on the sources.
  - name: pull-vsphere-csi-driver-check
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "check"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Runs 'shellcheck' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-shell
    always_run: false
    run_if_changed: '.*\.\w*sh$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
        command:
        - /bin/shellcheck.sh
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-shell
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the shell scripts have been linted

  # Runs 'mdlint' on appropriate sources
  - name: pull-vsphere-csi-driver-verify-markdown
    always_run: false
    run_if_changed: '.*\.md$'
    decorate: true
    path_alias: sigs.k8s.io/vsphere-csi-driver
    spec:
      containers:
      - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
        command:
        - /nodejs/bin/node
        args:
        - /md/lint
        - .
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-tab-name: pr-verify-markdown
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com
      description: Verifies the markdown has been linted

  # Builds the CSI binary
  - name: pull-vsphere-csi-driver-build
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "build"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

  # Executes the unit tests.
  - name: pull-vsphere-csi-driver-unit-test
    decorate: true
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    always_run: true
    skip_report: false
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "unit-test"
    annotations:
      testgrid-dashboards: vmware-presubmits-vsphere-csi-driver
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

postsubmits:
  kubernetes-sigs/vsphere-csi-driver:

  # Deploys the CSI image
  - name: post-vsphere-csi-driver-deploy
    decorate: true
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
      preset-cloud-provider-vsphere-e2e-config: "true"
    max_concurrency: 1
    branches:
    - ^master$
    path_alias: sigs.k8s.io/vsphere-csi-driver
    skip_submodules: true
    spec:
      containers:
      - image: gcr.io/cloud-provider-vsphere/csi-ci:b23178d9
        command:
        - "make"
        args:
        - "deploy"
        securityContext:
          privileged: true
    annotations:
      testgrid-dashboards: vmware-postsubmits-vsphere-csi-driver
      testgrid-num-columns-recent: '20'
      testgrid-alert-email: k8s-testing-cloud-provider-vsphere+alerts@groups.vmware.com

Update pod metadata for inline migrated volumes
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Document upstream attach/detach issue and workaround
  docs/book/known_issues.md
Due: pull-vsphere-csi-driver-verify-markdown

refactor volumeMigration.GetVolumeID to take VolumeSpec as pointer
  pkg/apis/migration/migration.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Due: none

Verify if volume is vSphere Volume first before checking migration feature state
  pkg/apis/migration/migration.go
  pkg/csi/service/common/feature_state.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/syncer_test.go
  pkg/syncer/util.go
Due: none

allow thin volume provisioning with vcp sc post migration
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
Due: none

Add volume expansion documentation for 7.0U1 + some more improvements
  docs/book/README.md
  docs/book/features/block_volume.md
  docs/book/features/file_volume.md
  docs/book/features/volume_expansion.md
  docs/book/supported_features_matrix.md
Due: pull-vsphere-csi-driver-verify-markdown

Fix faulty terminology
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Linter check
  docs/book/features/volume_expansion.md
Due: pull-vsphere-csi-driver-verify-markdown

Resolve comments
  docs/book/README.md
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Resolve comments
  docs/book/features/block_volume.md
  docs/book/features/volume_expansion.md
  example/tkg-k8s-block-driver/example-static-block-provisioning.yaml
  example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

resolve linter issues
  docs/book/features/block_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Resolve comments
  docs/book/README.md
  docs/book/features/block_volume.md
  docs/book/features/volume_expansion.md
  example/tkg-k8s-block-driver/example-static-block-provisioning.yaml
  example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

linters
  docs/book/features/block_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Add known issues link
  docs/book/features/volume_expansion.md
Due: pull-vsphere-csi-driver-verify-markdown

Resolve comments
  docs/book/features/block_volume.md
  example/tkg-k8s-block-driver/example-static-block-provisioning.yaml
  example/vanilla-k8s-block-driver/example-static-block-provisioning.yaml
Due: pull-vsphere-csi-driver-verify-markdown

Remove file volume changes
  docs/book/features/file_volume.md
Due: pull-vsphere-csi-driver-verify-markdown

Document restrictions for datacenter names
  docs/book/driver-deployment/installation.md
Due: pull-vsphere-csi-driver-verify-markdown

vSphere CSI Migration doc
  docs/book/SUMMARY.md
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/features/vsphere_csi_migration.md
  docs/book/known_issues.md
Due: pull-vsphere-csi-driver-verify-markdown

Base YAMLs for vSphere 7.0U2 for all 3 flavors
  manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-67u3/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0/guestcluster/1.15/pvcsi.yaml
  manifests/dev/vsphere-7.0/guestcluster/1.16/pvcsi.yaml
  manifests/dev/vsphere-7.0/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u1/guestcluster/1.15/pvcsi.yaml
  manifests/dev/vsphere-7.0u1/guestcluster/1.16/pvcsi.yaml
  manifests/dev/vsphere-7.0u1/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.15/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.15/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.16/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/supervisorcluster/k8s-1.16/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/create-validation-webhook.sh
  manifests/dev/vsphere-7.0u1/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/dev/vsphere-7.0u1/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0u1/vanilla/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.17/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.18/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/guestcluster/1.19/pvcsi.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.17/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.17/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.18/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.18/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.19/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/supervisorcluster/k8s-1.19/rbac/vsphere-csi-controller-rbac.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/create-validation-webhook.sh
  manifests/dev/vsphere-7.0u2/vanilla/deploy/generate-signed-webhook-certs.sh
  manifests/dev/vsphere-7.0u2/vanilla/deploy/validatingwebhook.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-node-ds.yaml
  manifests/dev/vsphere-7.0u2/vanilla/rbac/vsphere-csi-controller-rbac.yaml
Due: pull-vsphere-csi-driver-verify-shell

adding INCLUSTER_CLIENT_QPS and INCLUSTER_CLIENT_BURST param to controller and syncer pod
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_test.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/metadatasyncer.go
Due: none

use correct env INCLUSTER_CLIENT_BURST
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-controller-deployment.yaml
Due: none

disable Topology feature-gate on external-provisioner
  docs/book/driver-deployment/deploying_csi_with_zones.md
  manifests/dev/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u1/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/dev/vsphere-7.0u2/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v1.0.2/deploy/vsphere-csi-controller-ss.yaml
  manifests/v2.0.0/vsphere-67u3/vanilla/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.0.0/vsphere-7.0/vanilla/deploy/vsphere-csi-controller-deployment.yaml
Due: pull-vsphere-csi-driver-verify-markdown

Add CnsRegisterVolume documentation
  docs/book/features/block_volume.md
  docs/book/known_issues.md
  example/sv-block-driver/static-block-provisioning-fcd.yaml
  example/sv-block-driver/static-block-provisioning-vmdk.yaml
  example/vanilla-k8s-block-driver/example-cnsregistervolume.yaml
Due: pull-vsphere-csi-driver-verify-markdown

Remove node name dependency for vanilla in CSI controller
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/csi/service/vanilla/nodes.go
Due: none
