Repository kubernetes-sigs/cluster-api-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

pull-cluster-api-provider-vsphere-verify-fmt:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      command:
      - hack/check-format.sh

pull-cluster-api-provider-vsphere-verify-lint:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      command:
      - hack/check-lint.sh

pull-cluster-api-provider-vsphere-verify-vet:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      command:
      - hack/check-vet.sh

pull-cluster-api-provider-vsphere-verify-markdown:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/mdlint:0.17.0
      command:
      - /nodejs/bin/node
      args:
      - /md/lint
      - -i
      - vendor
      - .

pull-cluster-api-provider-vsphere-verify-shell:
  decorate: true
  spec:
    containers:
    - image: gcr.io/cluster-api-provider-vsphere/extra/shellcheck:v0.6.0
      command:
      - /bin/shellcheck.sh

pull-cluster-api-provider-vsphere-verify-crds:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      command:
      - hack/verify-crds.sh

pull-cluster-api-provider-vsphere-test:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      resources:
        requests:
          cpu: 500m
      command:
      - runner.sh
      args:
      - ./scripts/ci-test.sh

pull-cluster-api-provider-vsphere-e2e:
  labels:
    preset-dind-enabled: 'true'
    preset-service-account: 'true'
    preset-cluster-api-provider-vsphere-e2e-creds: 'true'
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-testimages/kubekins-e2e:v20190717-53dc8af-master
      command:
      - runner.sh
      args:
      - ./scripts/e2e/e2e.sh
  ...

Cluster actuator needs delete permission for secret.
  config/rbac/rbac_role.yaml
  pkg/cloud/vsphere/actuators/cluster/actuator.go
  scripts/e2e/bootstrap_job/spec/provider-components.template
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix e2e unbound var PULL_PULL_SHA
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

properly log requeue error messages with klogr
  pkg/cloud/vsphere/actuators/actuators.go
  pkg/cloud/vsphere/services/govmomi/util.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

let kubeadm determine the CRI socket value
  pkg/cloud/vsphere/services/govmomi/create.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

log when the vSphere provider manager is starting
  cmd/manager/main.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Relocate scripts for building machine images
  build/images/README.md
  build/images/hack/image-build-ova.py
  build/images/hack/image-govc-cloudinit.sh
  build/images/hack/image-new-kube.py
  build/images/hack/image-post-create-config.sh
  build/images/hack/image-ssh.sh
  build/images/hack/image-tools.sh
  build/images/hack/image-upload.py
  build/images/packer/packer.json
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell

Add hack/release.sh script
  hack/build-container-images.sh
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Removed unused Makefile targets
  Makefile
  scripts/e2e/bootstrap_job/Makefile
  scripts/e2e/e2e.sh
  scripts/e2e/hack/Makefile
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update generate-yaml tools for new image location
  hack/generate-yaml.sh
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix issue generating manifests due to Docker perms
  docs/getting_started.md
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

CAPI 0.1.8
  go.mod
  go.sum
  scripts/e2e/bootstrap_job/spec/provider-components.template
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/config/default/manager_image_patch.yaml
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/BUILD.bazel
  vendor/sigs.k8s.io/cluster-api/pkg/controller/cluster/cluster_controller.go
Due: pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix login issues in hack/release.sh
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

Change e2e script/job to use new image locations
  Makefile
  hack/release.sh
  scripts/e2e/README.md
  scripts/e2e/bootstrap_job.template
  scripts/e2e/bootstrap_job/Makefile
  scripts/e2e/bootstrap_job/clusterctl.sh
  scripts/e2e/e2e.sh
  scripts/e2e/hack/Makefile
  scripts/e2e/hack/job.yml
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

docs/getting_started.md: document workaround for linux mount permission issues
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Create base images for bootstrap and manifests
  hack/tools/bootstrap-base/Dockerfile
  hack/tools/bootstrap-base/Makefile
  hack/tools/manifests-base/Dockerfile
  hack/tools/manifests-base/Makefile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Use base images for bootstrap and manifests images
  hack/tools/generate-yaml/Dockerfile
  scripts/e2e/bootstrap_job/Dockerfile
Due: pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fixes YAML generation issues with Docker
  docs/getting_started.md
  hack/generate-yaml.sh
  hack/tools/generate-yaml/Dockerfile
Due: pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

docs: don't set CLUSTER_NAME in envvars.txt because it's set with the -c
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Troubleshooting guide
  README.md
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

do not error on multiple network devices if at least 1 is valid
  pkg/cloud/vsphere/context/cluster_context.go
  pkg/cloud/vsphere/context/machine_context.go
  pkg/cloud/vsphere/context/machine_context_test.go
  pkg/cloud/vsphere/services/govmomi/update.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

setting hostname of machines created using cludinit
  pkg/cloud/vsphere/services/userdata/controlplane.go
  pkg/cloud/vsphere/services/userdata/node.go
  pkg/cloud/vsphere/services/userdata/userdata.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Issue a clusterctl delete after e2e test
  scripts/e2e/bootstrap_job/clusterctl.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-e2e

fix double base64 encoding of cloud provider credentials
  pkg/cloud/vsphere/actuators/cluster/actuator.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

troubleshooting.md: Fix YAML indentation for adjusting log levels
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

troubleshooting.md: Apply Markdown linter and TOC gen
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Remove E2E use of hardcoded path to key file
  scripts/e2e/bootstrap_job/Makefile
  scripts/e2e/e2e.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

moved preferredAPIServerCidr in troubleshooting doc to correct line
  docs/troubleshooting.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Added ability to override local IP advertise address for kubeadm init
  pkg/cloud/vsphere/services/govmomi/create.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Set GOPROXY for docker commands for Prow
  Makefile
  hack/release.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test

generate e2e spec files at runtime
  scripts/e2e/bootstrap_job.template
  scripts/e2e/bootstrap_job/Dockerfile
  scripts/e2e/bootstrap_job/Makefile
  scripts/e2e/bootstrap_job/clusterctl.sh
  scripts/e2e/bootstrap_job/spec/cluster.template
  scripts/e2e/bootstrap_job/spec/machines.template
  scripts/e2e/bootstrap_job/spec/machineset.template
  scripts/e2e/bootstrap_job/spec/provider-components.template
  scripts/e2e/bootstrap_secret.template
  scripts/e2e/e2e.sh
  scripts/e2e/generate-e2e-spec.sh
Due: pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

docs/getting_started.md: remove controlPlane version field for worker nodes
  docs/getting_started.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Implement gcfg omitempty
  pkg/apis/vsphere/v1alpha1/cloud/encoding.go
  pkg/apis/vsphere/v1alpha1/cloud/encoding_test.go
  pkg/apis/vsphere/v1alpha1/cloud/types.go
  pkg/apis/vsphere/v1alpha1/cloud/zz_generated.deepcopy.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Remove field tags for "ini" package
  pkg/apis/vsphere/v1alpha1/cloud/types.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Use reflection to marshal cloud provider config
  pkg/apis/vsphere/v1alpha1/cloud/const.go
  pkg/apis/vsphere/v1alpha1/cloud/doc.go
  pkg/apis/vsphere/v1alpha1/cloud/encoding.go
  pkg/apis/vsphere/v1alpha1/cloud/encoding_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Support for dedicated cloud provider config
  config/crds/vsphere_v1alpha1_vsphereclusterproviderspec.yaml
  go.mod
  go.sum
  hack/update-generated.sh
  pkg/apis/vsphere/v1alpha1/cloud/const.go
  pkg/apis/vsphere/v1alpha1/cloud/doc.go
  pkg/apis/vsphere/v1alpha1/cloud/encoding.go
  pkg/apis/vsphere/v1alpha1/cloud/encoding_test.go
  pkg/apis/vsphere/v1alpha1/cloud/types.go
  pkg/apis/vsphere/v1alpha1/cloud/zz_generated.deepcopy.go
  pkg/apis/vsphere/v1alpha1/vsphereclusterproviderspec_types.go
  pkg/apis/vsphere/v1alpha1/zz_generated.deepcopy.go
  vendor/golang.org/x/tools/go/internal/cgo/cgo.go
  vendor/golang.org/x/tools/go/internal/cgo/cgo_pkgconfig.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/golist_fallback.go
  vendor/golang.org/x/tools/go/packages/golist_fallback_testmain.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/imports/mod.go
  vendor/gopkg.in/gcfg.v1/LICENSE
  vendor/gopkg.in/gcfg.v1/README
  vendor/gopkg.in/gcfg.v1/doc.go
  vendor/gopkg.in/gcfg.v1/errors.go
  vendor/gopkg.in/gcfg.v1/read.go
  vendor/gopkg.in/gcfg.v1/scanner/errors.go
  vendor/gopkg.in/gcfg.v1/scanner/scanner.go
  vendor/gopkg.in/gcfg.v1/set.go
  vendor/gopkg.in/gcfg.v1/token/position.go
  vendor/gopkg.in/gcfg.v1/token/serialize.go
  vendor/gopkg.in/gcfg.v1/token/token.go
  vendor/gopkg.in/gcfg.v1/types/bool.go
  vendor/gopkg.in/gcfg.v1/types/doc.go
  vendor/gopkg.in/gcfg.v1/types/enum.go
  vendor/gopkg.in/gcfg.v1/types/int.go
  vendor/gopkg.in/gcfg.v1/types/scan.go
  vendor/gopkg.in/warnings.v0/LICENSE
  vendor/gopkg.in/warnings.v0/README
  vendor/gopkg.in/warnings.v0/warnings.go
  vendor/modules.txt
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Update YAML tpls, docs for new cloud provider conf
  cmd/clusterctl/examples/vsphere/cluster.yaml.template
  docs/getting_started.md
  hack/generate-yaml.sh
  pkg/cloud/vsphere/actuators/cluster/actuator.go
  pkg/cloud/vsphere/services/govmomi/create.go
  pkg/cloud/vsphere/services/userdata/controlplane.go
  pkg/cloud/vsphere/services/userdata/controlplane_test.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-shell, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Fix default-datastore bug in cloud conf
  config/crds/vsphere_v1alpha1_vsphereclusterproviderspec.yaml
  pkg/apis/vsphere/v1alpha1/cloud/encoding_test.go
  pkg/apis/vsphere/v1alpha1/cloud/types.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Centralize dstore/pool/folder in CCM config
  cmd/clusterctl/examples/vsphere/cluster.yaml.template
  cmd/clusterctl/examples/vsphere/machines.yaml.template
  cmd/clusterctl/examples/vsphere/machineset.yaml.template
  config/crds/vsphere_v1alpha1_vspheremachineproviderspec.yaml
  docs/getting_started.md
  pkg/apis/vsphere/v1alpha1/cloud/types.go
  pkg/apis/vsphere/v1alpha1/cloud/zz_generated.deepcopy.go
  pkg/apis/vsphere/v1alpha1/vspheremachineproviderspec_types.go
  pkg/apis/vsphere/v1alpha1/vspheremachineproviderspec_types_test.go
  pkg/cloud/vsphere/services/govmomi/create_test.go
  pkg/cloud/vsphere/services/govmomi/vcenter/clone.go
Due: pull-cluster-api-provider-vsphere-verify-fmt, pull-cluster-api-provider-vsphere-verify-lint, pull-cluster-api-provider-vsphere-verify-vet, pull-cluster-api-provider-vsphere-verify-markdown, pull-cluster-api-provider-vsphere-verify-crds, pull-cluster-api-provider-vsphere-test, pull-cluster-api-provider-vsphere-e2e

Updated to CAPV README
  README.md
Due: pull-cluster-api-provider-vsphere-verify-markdown

Path conditions:
  pull-cluster-api-provider-vsphere-verify-fmt: any of: ^((cmd|pkg|(vendor/github.com/mbenkmann/goformat/goformat)|(vendor/golang.org/x/tools/cmd/goimports))/)|hack/check-format\.sh
  pull-cluster-api-provider-vsphere-verify-lint: any of: ^((cmd|pkg|(vendor/golang.org/x/lint/golint))/)|hack/check-lint\.sh
  pull-cluster-api-provider-vsphere-verify-vet: any of: ^((cmd|pkg)/)|hack/check-vet\.sh
  pull-cluster-api-provider-vsphere-verify-markdown: any of: .*\.md$
  pull-cluster-api-provider-vsphere-verify-shell: any of: .*\.\w*sh$
  pull-cluster-api-provider-vsphere-verify-crds: any of: ^((config|pkg|vendor)/)|hack/verify-crds\.sh
  pull-cluster-api-provider-vsphere-test: any of: ^((cmd|config|hack|pkg|vendor)/)|Makefile|(scripts/(ci-test|fetch_ext_bins)\.sh)
  pull-cluster-api-provider-vsphere-e2e: any of: ^((cmd|config|pkg|(scripts/e2e)|vendor)/)|Dockerfile
