Repository kubernetes/kubeadm: changes, and which Prow jobs are due for each by the changed paths.
All: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml:

# k8s.io/kubeadm presubmits
presubmits:
  kubernetes/kubeadm:
  - name: pull-kubeadm-kinder-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^kinder\/.*$'
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191008-b83b3fe-master
        command:
        - "./kinder/hack/verify-all.sh"
  - name: pull-kubeadm-operator-verify
    path_alias: "k8s.io/kubeadm"
    decorate: true
    run_if_changed: '^operator\/.*$'
    spec:
      containers:
      - image: gcr.io/k8s-testimages/kubekins-e2e:v20191008-b83b3fe-master
        command:
        - "./operator/hack/verify-all.sh"

add 1.16 jobs for discovery and kustomize
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/discovery-1.16.yaml
  kinder/ci/workflows/discovery-tasks.yaml
  kinder/ci/workflows/kustomize-1.16.yaml
  kinder/ci/workflows/kustomize-tasks.yaml
Due: pull-kubeadm-kinder-verify

fix verify
  operator/hack/boilerplate.go.txt
  operator/main.go
Due: pull-kubeadm-operator-verify

tests/e2e/manifests: fix missing module name
  tests/e2e/manifests/verify_manifest_lists.sh
Due: none

fix-flakiness-due-to-delay-on-publishing-artifacts
  kinder/pkg/extract/extract.go
Due: pull-kubeadm-kinder-verify

address comments
  operator/api/v1alpha1/operator_phase_types.go
  operator/api/v1alpha1/runtimetask_phase_types.go
  operator/api/v1alpha1/runtimetaskgroup_create_strategy.go
  operator/api/v1alpha1/runtimetaskgroup_node_filter.go
  operator/api/v1alpha1/runtimetaskgroup_phase_types.go
Due: pull-kubeadm-operator-verify

kinder: increase timeout for pulling artifacts
  kinder/pkg/extract/extract.go
Due: pull-kubeadm-kinder-verify

address comments
  operator/README.md
  operator/api/v1alpha1/operation_descriptor_types.go
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_operations.yaml
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetaskgroups.yaml
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetasks.yaml
Due: pull-kubeadm-operator-verify

Add err handling
  tests/e2e/manifests/verify_manifest_lists.go
Due: none

fix-calico
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Due: pull-kubeadm-kinder-verify

kinder: use a hardcoded manifest when applying CNI
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/data/calicomanifests.go
Due: pull-kubeadm-kinder-verify

kinder: exclude "apply" from kubectl command
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Due: pull-kubeadm-kinder-verify

kinder: fix typo in calico manifest that breaks CI
  kinder/pkg/data/calicomanifests.go
Due: pull-kubeadm-kinder-verify

tests/e2e/manifests: don't test hyperkube for 1.17 and later
  tests/e2e/manifests/verify_manifest_lists.go
Due: none

implement the operation controller
  operator/Dockerfile
  operator/api/v1alpha1/labels.go
  operator/config/crd/bases/operator.kubeadm.x-k8s.io_runtimetaskgroups.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/role.yaml
  operator/controllers/operation_controller.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/runtimetaskgroup_reconcile.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/operations/custom.go
  operator/operations/factory.go
  operator/operations/renewcertificates.go
  operator/operations/upgrade.go
  operator/operations/util.go
Due: pull-kubeadm-operator-verify

taskgroup-controller
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/util.go
Due: pull-kubeadm-operator-verify

address comments
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/util.go
Due: pull-kubeadm-operator-verify

fix-cluster-info
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/constants/constants.go
Due: pull-kubeadm-kinder-verify

operator: organize imports
  operator/api/v1alpha1/operation_types.go
  operator/api/v1alpha1/runtimetask_types.go
  operator/api/v1alpha1/runtimetaskgroup_types.go
  operator/controllers/operation_controller.go
  operator/controllers/runtimetask_reconcile.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/suite_test.go
  operator/controllers/util.go
  operator/hack/update-goimports.sh
  operator/hack/verify-goimports.sh
  operator/main.go
  operator/operations/factory.go
  operator/operations/util.go
Due: pull-kubeadm-operator-verify

remove "sigs.k8s.io/kind/pkg/build/node" dependency
  kinder/cmd/kinder/build/baseimage/baseimage.go
  kinder/cmd/kinder/build/nodevariant/nodevariant.go
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/doc/kind-kinder.md
  kinder/pkg/constants/constants.go
Due: pull-kubeadm-kinder-verify

remove unused kind cmd
  kinder/cmd/kinder/build/build.go
  kinder/cmd/kinder/kinder.go
  kinder/doc/kind-kinder.md
Due: pull-kubeadm-kinder-verify

remove kind config
  kinder/cmd/kinder/create/cluster/createcluster.go
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/config/config.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/kubeadm/calicopatch.go
  kinder/third_party/kind/config/defaults.go
  kinder/third_party/kind/config/readme.md
  kinder/third_party/kind/config/validate.go
  kinder/third_party/kind/config/validate_test.go
Due: pull-kubeadm-kinder-verify

kinder: cleanup support for v1.11 and v1.12
  kinder/pkg/cluster/manager/actions/kubeadm-config.go
  kinder/pkg/constants/constants.go
  kinder/pkg/kubeadm/automaticcopycertspatch.go
  kinder/pkg/kubeadm/config.go
  kinder/pkg/kubeadm/discovery.go
  kinder/pkg/kubeadm/dockerpatch.go
  kinder/pkg/kubeadm/externaletcdpatch.go
  kinder/pkg/kubeadm/kubednspatch.go
  kinder/third_party/kind/kubeadm/config.go
Due: pull-kubeadm-kinder-verify

remove kind node and kind cri dependencies
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
  kinder/pkg/cluster/manager/manage.go
  kinder/pkg/cluster/status/cluster.go
  kinder/pkg/cluster/status/node.go
  kinder/pkg/cri/containerd/createhelper.go
  kinder/pkg/cri/createhelper.go
  kinder/pkg/cri/docker/createhelper.go
  kinder/pkg/cri/util/util.go
Due: pull-kubeadm-kinder-verify

Create E2E jobs for 1.17
  kinder/ci/workflows/discovery-1.17.yaml
  kinder/ci/workflows/external-etcd-1.17.yaml
  kinder/ci/workflows/kustomize-1.17.yaml
  kinder/ci/workflows/skew-1.17-on-1.16.yaml
  kinder/ci/workflows/skew-master-on-1.17.yaml
  kinder/ci/workflows/upgrade-1.16-1.17.yaml
  kinder/ci/workflows/upgrade-1.17-master.yaml
Due: pull-kubeadm-kinder-verify

fix-master-on-v1.16
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

CONTRIBUTING.md: add onboarding video link
  CONTRIBUTING.md
Due: none

make kinder refer to "kinder get kubeconfig-path"
  kinder/pkg/cluster/manager/actions/kubeadm-init.go
Due: pull-kubeadm-kinder-verify

kinder: add a test job family for running regular tests
  kinder/ci/kubeadm-periodic.tests.md
  kinder/ci/workflows/regular-1.14.yaml
  kinder/ci/workflows/regular-1.15.yaml
  kinder/ci/workflows/regular-1.16.yaml
  kinder/ci/workflows/regular-1.17.yaml
  kinder/ci/workflows/regular-master.yaml
  kinder/ci/workflows/regular-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: use the etcd tag version for defining etcdctl flags
  kinder/pkg/cluster/manager/actions/cluster-info.go
  kinder/pkg/cluster/manager/actions/cluster-info_test.go
Due: pull-kubeadm-kinder-verify

verify-spelling: fix misspell 'go mod init' call
  kinder/hack/verify-spelling.sh
  operator/hack/verify-spelling.sh
Due: pull-kubeadm-kinder-verify, pull-kubeadm-operator-verify

kinder: fix a bug when coping files from or to a container
  kinder/pkg/cluster/status/node.go
Due: pull-kubeadm-kinder-verify

kinder: handle errors from Node#CopyTo() and Node#CopyFrom()
  kinder/pkg/cluster/manager/manage.go
Due: pull-kubeadm-kinder-verify

kinder: fix typo in manager/manage.go
  kinder/pkg/cluster/manager/manage.go
Due: pull-kubeadm-kinder-verify

kinder: add --loglevel=debug to tasks that are mnissing it
  kinder/ci/workflows/kustomize-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: adjust report prefixes
  kinder/ci/workflows/external-etcd.yaml
  kinder/ci/workflows/regular-tasks.yaml
  kinder/ci/workflows/skew-x-on-y-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks-automatic-copy-certs.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: adjust comments related to copy-certs workflows
  kinder/ci/workflows/skew-x-on-y-tasks.yaml
  kinder/ci/workflows/upgrade-tasks.yaml
Due: pull-kubeadm-kinder-verify

kinder: experiment with writing full output to junit Failures
  kinder/pkg/test/workflow/taskCmdRunner.go
Due: pull-kubeadm-kinder-verify

remove "sigs.k8s.io/kind/pkg/log" dependency
  kinder/cmd/kinder/kinder.go
  kinder/doc/kind-kinder.md
  kinder/pkg/cluster/manager/create.go
Due: pull-kubeadm-kinder-verify

task-controller
  operator/Dockerfile
  operator/commands/exec.go
  operator/commands/factory.go
  operator/commands/kubeadm_renew_certificate.go
  operator/commands/kubeadm_upgrade_apply.go
  operator/commands/kubeadm_upgrade_node.go
  operator/commands/kubectl_drain.go
  operator/commands/kubectl_uncordon.go
  operator/commands/preflight.go
  operator/commands/upgrade_kubeadm.go
  operator/commands/upgrade_kubectlkubelet.go
  operator/controllers/runtimetask_controller.go
  operator/controllers/runtimetaskgroup_controller.go
  operator/controllers/util.go
  operator/main.go
Due: pull-kubeadm-operator-verify
